<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default"  >

<section layout:fragment="content">
    <!-- ========== MAIN CONTENT ========== -->
        <!-- Hero Section -->
        <div class="gradient-half-primary-v1 text-center rounded space-1 mt-lg-9">
            <!--검색 Form -->
            <div class="container space-1 space-0--lg">
                <form class="w-lg-75 px-3 px-sm-9 mx-lg-auto justify-content-lg-between align-items-lg-center">
                    <div class="bg-white shadow-sm rounded p-3 row">
                        <div class="col-md-3 position-relative d-none d-md-block" >
                            <a role="button" class="btn px-8 content-centered"
                                    th:classappend="${param.id} == null? btn-primary : btn-secondary"
                                    th:href="@{list}">전체</a>
                        </div>
                        <div class="col-md-9 row">
                            <div class="col-4 col-md-3 pr-0 pl-1 d-block d-xl-none d-lg-none d-md-none ">
                                <a role="button" class="btn mb-2 d-block text-white"
                                   th:classappend="${param.id} == null? btn-primary : btn-secondary"
                                   th:href="@{list}">전체</a></div>
                                <div class="col-4 col-md-3 pr-0 pl-1" th:each="area : ${areaList}">
                                    <a role="button" class="btn mb-2 d-block text-white" aria-pressed="true"
                                       th:href="@{read(id=${area.id})}" th:text="*{area.areaName}"
                                       th:classappend="${#strings.equals(param.id, #strings.toString(area.id))} ? btn-primary : btn-secondary"  ></a>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--END 검색 폼-->
        </div>
        <!-- End Hero Section -->

        <!-- 난가정보 section -->
        <div class="container space-1 space-1--lg">
            <!--난가정보 HR-->
            <div class="row">
                <div class="media align-items-center pr-lg-4 col-12">
                    <img class="max-width-6 mr-1"
                         th:src="@{/svg/business-icons/iStar_Design_Business_LineIcons_Live-16.svg}"
                         alt="Image Description">
                    <div class="media-body">
                        <p class="h4 mb-0">난가정보</p>
                    </div>
                </div>
            </div>
            <hr class="my-2">

            <!--전체 난가정보-->
            <div>
                <table class="table table-bordered table-responsive-sm table-sm">
                    <thead>
                        <tr class="table-secondary">
                            <th style="width:20%" class="text-sm-center">지역</th>
                            <th style="width:15%" class="text-sm-center">왕</th>
                            <th style="width:15%" class="text-sm-center">특</th>
                            <th style="width:15%" class="text-sm-center">대</th>
                            <th style="width:15%" class="text-sm-center">중</th>
                            <th style="width:15%" class="text-sm-center">소</th>
                            <th  class="text-sm-center">경</th>
                        </tr>
                    </thead>
                    <tbody>
                    <div th:each="price : ${list}">
                        <tr>
                            <th class="text-sm-center" rowspan="2"><span th:text="${price.areaName}"></span><br/><span class="small" th:text="${#dates.format(price.regDate, 'yy.MM.dd')}">02.02</span></th>
                            <td class="text-sm-center" ><span class="position-relative mr-2"><span th:text="${price.size1}"></span>
                                <span th:text="${price.diff1}" th:unless="${price.diff1} ==0 "
                                      th:classappend="${price.diff1} < 0 ? badge-warning : null"
                                      class="badge-xs badge-secondary badge-pos rounded-circle mr--8px"></span></span></td>
                            <td class="text-sm-center" ><span class="position-relative mr-2"><span th:text="${price.size2}"></span>
                                <span th:text="${price.diff2}" th:unless="${price.diff2} ==0 "
                                      th:classappend="${price.diff2} < 0 ? badge-warning : null"
                                      class="badge-xs badge-secondary badge-pos rounded-circle mr--8px"></span></span></td>
                            <td class="text-sm-center" ><span class="position-relative mr-2"><span th:text="${price.size3}"></span>
                                <span th:text="${price.diff3}" th:unless="${price.diff3} ==0 "
                                      th:classappend="${price.diff3} < 0 ? badge-warning : null"
                                      class="badge-xs badge-secondary badge-pos rounded-circle mr--8px"></span></span></td>
                            <td class="text-sm-center" ><span class="position-relative mr-2"><span th:text="${price.size4}"></span>
                                <span th:text="${price.diff4}" th:unless="${price.diff4} ==0 "
                                      th:classappend="${price.diff4} < 0 ? badge-warning : null"
                                      class="badge-xs badge-secondary badge-pos rounded-circle mr--8px"></span></span></td>
                            <td class="text-sm-center" ><span class="position-relative mr-2"><span th:text="${price.size5}"></span>
                                <span th:text="${price.diff5}" th:unless="${price.diff5} ==0 "
                                      th:classappend="${price.diff5} < 0 ? badge-warning : null"
                                      class="badge-xs badge-secondary badge-pos rounded-circle mr--8px"></span></span></td>
                            <td class="text-sm-center" ><span class="position-relative mr-2"><span th:text="${price.size6}"></span>
                                <span th:text="${price.diff6}" th:unless="${price.diff6} ==0 "
                                      th:classappend="${price.diff6} < 0 ? badge-warning : null"
                                      class="badge-xs badge-secondary badge-pos rounded-circle mr--8px"></span></span></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="py-0"><span class="span small" th:text="${price.memo}"></span></td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
            <!--END 전체난가정보-->
        </div>
        <!--END 난가정보 section-->
</section>