<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="admin/adminDefault" >
<section layout:fragment="content">
    <div class="mb-2">
        <span class="h4" >게시판관리 </span>  <a th:href="@{register}" class="btn btn-xs btn-primary">글 등록</a>
    </div>
        <!--검색창-->
        <div class="row" >
            <div class="col-12 px-1"><a role="button" class="btn btn-primary btn-sm"
                                       th:classappend="${param.boardId} == null? btn-primary : btn-secondary"
                                       th:href="@{list(perPageNum=${pageMaker.cri.perPageNum})}">전체</a>
                <div th:each="area : ${areaList}" th:remove="tag">
                    <a role="button" class="btn btn-sm" aria-pressed="true"
                                               th:href="@{list(boardId=*{area.id},perPageNum=${pageMaker.cri.perPageNum})}" th:text="*{area.boardName}"
                                               th:classappend="${#strings.equals(param.boardId, #strings.toString(area.id))} ? btn-primary : btn-secondary"  ></a>
                </div>
            </div>
        </div>

        <!--게시판 목록-->
        <div class="space-1">
            <table class="table table-bordered table-responsive-sm table-sm table-hover">
                <thead>
                <tr class="table-secondary">
                    <th class="text-sm-center">유형</th>
                    <th class="text-sm-center">제목</th>
                    <th class="text-sm-center">등록일</th>
                    <th class="text-sm-center"></th>
                </tr>
                </thead>
                <tbody>
                <div th:each="info,index : ${boardList}" th:remove="tag">
                    <tr>
                        <td><span th:text="${info.boardName}"></span></td>
                        <td><a th:href="@{read(id=${info.id})}"><span th:text="${info.title}"></span></a></td>
                        <td><span th:text="${#dates.format(info.regDate, 'yyyy.MM.dd')}"></span></td><!--적용일-->
                        <td><a role="button" class="btn btn-xs py-1 btn-secondary" th:href="@{mod(id=${info.id})}">수정</a><!--수정-->
                        <button type="button" class="btn btn-xs py-1 btn-danger"
                                    data-toggle="modal"
                                    data-target="#exampleModal"
                                    data-title="삭제"
                                    data-body="삭제하시겠습니까?"
                                    th:data-confirm="@{remove(boardId=${info.id})}">삭제</button>
                            </td><!--삭제-->
                    </tr>
                </div>
                </tbody>
            </table>
            <span th:with="url=${@urlService.parseParamLeaf(search)}">
                <div th:replace="layout/pageMaker :: pageMaker('list',${url})"></div>
            </span>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">코리아에그</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" id="confirmBtn">확인</button>
                    </div>
                </div>
            </div>
        </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</section>
</html>