<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{/admin/adminDefault}" >
<section layout:fragment="content">
    <main id="content" role="main">
        <span class="h4 m-0 p-0" >난가예보관리</span>
        <hr class="mt-1">

        <div class="space-1">
            <table class="table table-bordered table-responsive-sm table-sm table-hover">
                <thead>
                <tr class="table-secondary">
                    <th class="text-sm-center">등록일</th>
                    <th class="text-sm-center" colspan="5">난가예보</th>
                    <th class="text-sm-center" colspan="2"><button class="btn btn-xs btn-secondary" onclick="visibleInputTr()">난가예보입력</button></th>
                </tr>
                </thead>
                <tbody>
                    <form th:action="@{register}" method="post" onsubmit="return frmsubmit();" >
                        <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <tr id="inputTr" style="display: none" class="text-sm-center">
                            <td><span th:text="${#dates.format(#dates.createNow(), 'yyyy.MM.dd')}"></span></td><!--적용일-->
                            <td><input class="form-control form-control-sm" type="radio" name="cast" value="1"></td>
                            <td><input class="form-control form-control-sm" type="radio" name="cast" value="2"></td>
                            <td><input class="form-control form-control-sm" type="radio" name="cast" value="3"></td>
                            <td><input class="form-control form-control-sm" type="radio" name="cast" value="4"></td>
                            <td><input class="form-control form-control-sm" type="radio" name="cast" value="5"></td>
                            <td><button type="button" class="btn btn-xs btn-secondary" onclick="invisibleInputTr()" >취소</button></td><!--수정-->
                            <td><button class="btn btn-xs btn-primary">등록</button></td><!--수정-->
                            <!--<td><a th:href="@{'/admin/user?id=' + ${user.id}}">더보기</a></td>-->
                        </tr>
                    </form>
                <div th:each="info,index : ${priceCastList}">
                    <form th:action="@{mod}" method="post">
                        <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <input type="hidden" name="id" th:value="*{info.id}">
                        <tr class="text-sm-center">
                            <td><span th:text="${#dates.format(info.regDate, 'yyyy.MM.dd')}"></span></td><!--적용일-->
                            <td><a href="#" th:classappend="*{info.cast} == 1 ? btn-danger : null" class="btn btn-xs btn-secondary disabled" role="button" aria-disabled="true">-2</a><input class="form-control form-control-sm" style="display: none" type="radio" name="cast" value="1"/></td>
                            <td><a href="#" th:classappend="*{info.cast} == 2 ? btn-danger : null" class="btn btn-xs btn-secondary disabled" role="button" aria-disabled="true">-1</a><input class="form-control form-control-sm" style="display: none" type="radio" name="cast" value="2"/></td>
                            <td><a href="#" th:classappend="*{info.cast} == 3 ? btn-danger : null" class="btn btn-xs btn-secondary disabled" role="button" aria-disabled="true">-0</a><input class="form-control form-control-sm" style="display: none" type="radio" name="cast" value="3"/></td>
                            <td><a href="#" th:classappend="*{info.cast} == 4 ? btn-danger : null" class="btn btn-xs btn-secondary disabled" role="button" aria-disabled="true">+1</a><input class="form-control form-control-sm" style="display: none" type="radio" name="cast" value="4"/></td>
                            <td><a href="#" th:classappend="*{info.cast} == 5 ? btn-danger : null" class="btn btn-xs btn-secondary disabled" role="button" aria-disabled="true">+2</a><input class="form-control form-control-sm" style="display: none" type="radio" name="cast" value="5"/></td>
                            <td><button type="button" class="btn btn-xs py-1 btn-secondary updateBtn updateBtnTg" >수정</button><button type="button" class="btn btn-xs py-1 btn-secondary updateCancelBtn updateBtnTg" style="display: none" >취소</button></td><!--수정-->
                            <td><button type="button" class="btn btn-xs py-1 btn-danger updateBtnTg"
                                        data-toggle="modal"
                                        data-target="#exampleModal"
                                        data-title="삭제"
                                        data-body="삭제하시겠습니까?"
                                        th:data-confirm="@{remove(castId=*{info.id})}">삭제</button>
                                <button class="btn btn-xs py-1 btn-primary updateBtnTg" style="display: none" >완료</button></td><!--삭제-->
                            <!--<td><a th:href="@{'/admin/user?id=' + ${user.id}}">더보기</a></td>-->
                        </tr>
                    </form>
                </div>
                </tbody>
            </table>
            <!--<a role="button" class="btn btn-primary" th:unless="${pageMaker.endPage} == ${pageMaker.cri.page}"
               th:href="@{/admin/priceInfo(page=${pageMaker.cri.page}+1,perPageNum=${pageMaker.cri.perPageNum})}">더보기</a>-->
            <nav class="row">
                <ul class="col-3 pagination justify-content-between" >
                    <li class="">총 목록개수 : <span th:text="${pageMaker.totalCount}"></span></li>
                    <li class="">
                        <select class="form-control form-control-sm" id="perPageNum">
                            <option th:selected="${pageMaker.cri.perPageNum} == 10" value="10" sele>10</option>
                            <option th:selected="${pageMaker.cri.perPageNum} == 20" value="20">20</option>
                            <option th:selected="${pageMaker.cri.perPageNum} == 30" value="30">30</option>
                            <option th:selected="${pageMaker.cri.perPageNum} == 50" value="50">50</option>
                            <option th:selected="${pageMaker.cri.perPageNum} == 100" value="100">100</option>
                     </select>
                    </li>
                </ul>
                <ul class="col-9 pagination justify-content-end">

                    <li  class="page-item" th:if="${pageMaker.prev} == true">
                        <a class="page-link" th:href="@{list(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum},areaId=${param.areaId})}">이전</a>
                    </li>

                    <li  class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"  th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
                        <a class="page-link" th:href="@{list(page=${idx},perPageNum=${pageMaker.cri.perPageNum},areaId=${param.areaId})}" th:text="${idx}"></a>
                    </li>

                    <li  class="page-item" th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
                        <a class="page-link" th:href="@{list(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum},areaId=${param.areaId})}">다음</a>
                    </li>
                </ul>
            </nav>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">코리아에그</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" id="confirmBtn">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script th:inline="javascript">
        /*<![CDATA[*/

        function frmsubmit() {
            if($("#inputTr input:radio[name='cast']:checked").length == 0){
                alert("값을 입력해주세요")
                return false;
            }
            return true;
        }

        function visibleInputTr(){
            $("#inputTr").show();
        }

        function invisibleInputTr(){
            $("#inputTr").hide();
            $("#inputTr input").val("");
        }

        $(document).on('ready', function () {

            $("#perPageNum").on('change',function (event) {
                $(this).val();
                var areaId = [[${param.areaId}]] == null ? '' : [[${param.areaId}]];
                location.href = "list?perPageNum=" + $(this).val() + "&areaId=" + areaId;
            });

            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var recipient = button.data('whatever'); // Extract info from data-* attributes
                var title = button.data('title') // Extract info from data-* attributes
                var body = button.data('body') // Extract info from data-* attributes
                var confirm = button.data('confirm') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);

                if(title != null){
                    modal.find('.modal-title').text(title);
                }
                modal.find('.modal-body').text(body);
                modal.find('.modal-footer #confirmBtn').on("click", function () {
                    location.href=confirm;
                })

            });

            $('.updateBtn').on('click', function (event) {
                var modal = $(this);
                console.log(modal.parents("tr").html());
                modal.parents("tr").find(".form-control").prev().hide();
                modal.parents("tr").find(".form-control").show();
                modal.parents("tr").find(".updateBtnTg").toggle();
            });

            $('.updateCancelBtn').on('click', function (event) {
                var modal = $(this);
                modal.parents("tr").find(".form-control").prev().show();
                modal.parents("tr").find(".form-control").hide();
                modal.parents("tr").find(".updateBtnTg").toggle();
            });

        });

        /*]]>*/
    </script>
</section>
</html>