<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="admin/adminDefault" >
<section layout:fragment="content">
    <main id="content" role="main">
        <div class="mb-2">
            <span class="h4" >문의관리 </span>
        </div>
        <!--검색창-->
        <div class="row" >
            <div class="col-12 px-1">
                <a role="button" class="btn btn-primary btn-sm"
                   th:classappend="${param.status} == null? btn-primary : btn-secondary"
                   th:href="@{list(perPageNum=${pageMaker.cri.perPageNum})}">전체</a>
                <a role="button" class="btn btn-primary btn-sm"
                   th:classappend="${#strings.equals(param.status, 0)} ? btn-primary : btn-secondary"
                   th:href="@{list(perPageNum=${pageMaker.cri.perPageNum},status=0)}">답변대기</a>
                <a role="button" class="btn btn-primary btn-sm"
                   th:classappend="${#strings.equals(param.status, 1)} ? btn-primary : btn-secondary"
                   th:href="@{list(perPageNum=${pageMaker.cri.perPageNum},status=1)}">답변완료</a>
            </div>
        </div>

        <!--게시판 목록-->
        <div class="space-1">
            <table class="table table-bordered table-responsive-sm table-sm table-hover">
                <thead>
                <tr class="table-secondary">
                    <th class="text-sm-center">상태</th>
                    <th class="text-sm-center">제목</th>
                    <th class="text-sm-center">등록자</th>
                    <th class="text-sm-center">등록일</th>
                    <th class="text-sm-center"></th>
                </tr>
                </thead>
                <tbody>
                <div th:each="board,index : ${boardList}">
                    <tr>
                        <td><span th:if="${board.answerFlag}" class="text-danger">답변완료</span>
                            <span th:unless="${board.answerFlag}" class="text-danger">답변대기</span></span>
                        </td>
                        <td><a th:href="@{read(id=${board.id})}"><span th:text="${board.title}"></span></a></td>
                        <td><span th:text="${board.reqName}"></span></td>
                        <td><span th:text="${#dates.format(board.regDate, 'yyyy.MM.dd')}"></span></td><!--적용일-->
                        <td><a th:unless="${board.answerFlag}" role="button" class="btn btn-xs py-1 btn-secondary" th:href="@{mod(id=${board.id})}">답변</a>
                        </td><!--수정-->
                    </tr>
                </div>
                </tbody>
            </table>
            <span th:with="url=${@urlService.parseParamLeaf(search)}">
                <div th:replace="layout/pageMaker :: pageMaker('list',${url})"></div>
            </span>

        </div>

    </main>

    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</section>
</html>