<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default"  >
<head>
    <link rel="stylesheet" th:href="@{/vendor/dualListbox/icon_font/css/icon_font.css}">
    <link rel="stylesheet" th:href="@{/vendor/dualListbox/css/jquery.transfer.css}">

    <script th:src="@{/vendor/dualListbox/js/jquery.transfer.js}"></script>


</head>
<section layout:fragment="content">
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <div class="container space-2 space-3--lg">
            <form th:action="@{}" method="post">
                <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <!--TODO 예약-->
                <div class="transfer"></div>
                <textarea name="contents"></textarea>
            </form>
        </div>
    </main>

    <script>
        var languages = [
            {
                "language": "jQuery",
                "value": 122
            },
            {
                "language": "AngularJS",
                "value": 132
            },
            {
                "language": "ReactJS",
                "value": 422
            },
            {
                "language": "VueJS",
                "value": 232
            },
            {
                "language": "JavaScript",
                "value": 765
            },
            {
                "language": "Java",
                "value": 876
            },
            {
                "language": "Python",
                "value": 453
            },
            {
                "language": "TypeScript",
                "value": 125
            },
            {
                "language": "PHP",
                "value": 633
            },
            {
                "language": "Ruby on Rails",
                "value": 832
            }
        ];

        var groupData = [
            {
                "groupName": "JavaScript",
                "groupData": [
                    {
                        "language": "jQuery",
                        "value": 122
                    },
                    {
                        "language": "AngularJS",
                        "value": 643
                    },
                    {
                        "language": "ReactJS",
                        "value": 422
                    },
                    {
                        "language": "VueJS",
                        "value": 622
                    }
                ]
            },
            {
                "groupName": "Popular",
                "groupData": [
                    {
                        "language": "JavaScript",
                        "value": 132
                    },
                    {
                        "language": "Java",
                        "value": 112
                    },
                    {
                        "language": "Python",
                        "value": 124
                    },
                    {
                        "language": "TypeScript",
                        "value": 121
                    },
                    {
                        "language": "PHP",
                        "value": 432
                    },
                    {
                        "language": "Ruby on Rails",
                        "value": 421
                    }
                ]
            }
        ];

        var settings = {
            "inputId": "languageInput",
            "data": languages,
            "groupData": groupData,
            "itemName": "language",
            "groupItemName": "groupName",
            "groupListName" : "groupData",
            "container": "transfer",
            "valueName": "value",
            "callable" : function (data, names) {
                console.log("Selected ID：" + data)
            }
        };

        Transfer.transfer(settings);

        $(document).on('ready', function () {


        });

    </script>

</section>