<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout" >

<section layout:fragment="content">
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Contacts Section -->
        <div class="container space-2 space-3--lg">
            <div class="row">
                <div class="col-lg-6 mb-7 mb-lg-0">
                    <!-- Contacts Info -->
                    <h1 class="h4 mb-4">Canada</h1>

                    <div class="row">
                        <div class="col-sm-6 mb-4 mb-sm-0">
                            <h2 class="h6">Details:</h2>
                            <address class="mb-0">
                                <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                    <li class="py-1">972 Sylvan Street South Angelina, NL S0B2V9</li>
                                    <li class="py-2"></li>
                                    <li class="py-1">+(0161) 347 8854</li>
                                    <li class="py-1">Email: <a href="#">Space.ca@support.com</a></li>
                                    <li class="py-1">Website: <a href="#">Space.ca</a></li>
                                </ul>
                            </address>
                        </div>

                        <div class="col-sm-6">
                            <h3 class="h6">Business hours:</h3>
                            <span class="d-block font-size-14 text-secondary mb-3">Mon - Sat: 9.30AM - 06.00PM</span>
                            <img class="img-fluid" src="../../assets/img/400x180/img1.jpg" alt="Image Description">
                        </div>
                    </div>
                    <!-- End Contacts Info -->
                </div>

                <div class="col-lg-6">
                    <!-- Google Map -->
                    <div id="GMap1" class="js-g-map embed-responsive embed-responsive-21by9 h-100"
                         data-type="custom"
                         data-lat="40.674"
                         data-lng="-73.946"
                         data-zoom="12"
                         data-title="Agency"
                         data-styles='[["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]], ["", "labels", [{"visibility":"on"}]], ["water", "", [{"color":"#bac6cb"}]] ]'
                         data-pin="true"
                         data-pin-icon="../../assets/img/map-markers/map-marker1.png"></div>
                    <!-- End Google Map -->
                </div>
            </div>

            <hr class="my-9">

            <div class="row">
                <div class="col-lg-6 mb-7 mb-lg-0">
                    <!-- Contacts Info -->
                    <h3 class="h4 mb-4">United States</h3>

                    <div class="row">
                        <div class="col-sm-6 mb-4 mb-sm-0">
                            <h4 class="h6">Details:</h4>
                            <address class="mb-0">
                                <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                    <li class="py-1">728 Dooley Branch, Beckershire, LA 63598-2909</li>
                                    <li class="py-2"></li>
                                    <li class="py-1">+(364) 106-7572</li>
                                    <li class="py-1">Email: <a href="#">Space.com@support.com</a></li>
                                    <li class="py-1">Website: <a href="#">Space.com</a></li>
                                </ul>
                            </address>
                        </div>

                        <div class="col-sm-6">
                            <h4 class="h6">Business hours:</h4>
                            <span class="d-block font-size-14 text-secondary mb-3">Mon - Sat: 9.30AM - 06.00PM</span>
                            <img class="img-fluid" src="../../assets/img/400x180/img2.jpg" alt="Image Description">
                        </div>
                    </div>
                    <!-- End Contacts Info -->
                </div>

                <div class="col-lg-6">
                    <!-- Google Map -->
                    <div id="GMap2" class="js-g-map embed-responsive embed-responsive-21by9 h-100"
                         data-type="custom"
                         data-lat="40.674"
                         data-lng="-73.946"
                         data-zoom="12"
                         data-title="Agency"
                         data-styles='[["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]], ["", "labels", [{"visibility":"on"}]], ["water", "", [{"color":"#bac6cb"}]] ]'
                         data-pin="true"
                         data-pin-icon="../../assets/img/map-markers/map-marker1.png"></div>
                    <!-- End Google Map -->
                </div>
            </div>

            <hr class="my-9">

            <div class="row">
                <div class="col-lg-6 mb-7 mb-lg-0">
                    <!-- Contacts Info -->
                    <h3 class="h4 mb-4">England</h3>

                    <div class="row">
                        <div class="col-sm-6 mb-4 mb-sm-0">
                            <h4 class="h6">Details:</h4>
                            <address class="mb-0">
                                <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                    <li class="py-1">Studio 76d, Riley Ford, North Michaelchester, CF99 6QQ</li>
                                    <li class="py-2"></li>
                                    <li class="py-1">+(0117) 900 9463</li>
                                    <li class="py-1">Email: <a href="#">Space.co@support.com</a></li>
                                    <li class="py-1">Website: <a href="#">Space.co</a></li>
                                </ul>
                            </address>
                        </div>

                        <div class="col-sm-6">
                            <h4 class="h6">Business hours:</h4>
                            <span class="d-block font-size-14 text-secondary mb-3">Mon - Sat: 9.30AM - 06.00PM</span>
                            <img class="img-fluid" src="../../assets/img/400x180/img3.jpg" alt="Image Description">
                        </div>
                    </div>
                    <!-- End Contacts Info -->
                </div>

                <div class="col-lg-6">
                    <!-- Google Map -->
                    <div id="GMap3" class="js-g-map embed-responsive embed-responsive-21by9 h-100"
                         data-type="custom"
                         data-lat="40.674"
                         data-lng="-73.946"
                         data-zoom="12"
                         data-title="Agency"
                         data-styles='[["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]], ["", "labels", [{"visibility":"on"}]], ["water", "", [{"color":"#bac6cb"}]] ]'
                         data-pin="true"
                         data-pin-icon="../../assets/img/map-markers/map-marker1.png"></div>
                    <!-- End Google Map -->
                </div>
            </div>
        </div>
        <!-- End Contacts Section -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
</section>