<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout" >

<section layout:fragment="content">
    <main id="content" role="main">
        <!-- Hero Section -->
        <div class="gradient-overlay-half-dark-v3 bg-img-hero"  th:style="'background-image: url('+@{/img/test/000.jpg}+');'">
            <!-- Main Content -->
            <div class="d-lg-flex align-items-lg-center height-45vh--lg">
                <!-- 검색 Form -->
                <div class="container space-1 space-0--lg mt-lg-8">
                    <form class="js-validate w-lg-75 px-3 px-sm-9 mx-lg-auto justify-content-lg-between align-items-lg-center row">
                        <!--TODO 폼 너비 어떻게 조절? -->
                        <div class="col-lg-12">
                            <div class="bg-white shadow-sm rounded p-3">
                                <form class="js-validate">
                                    <!-- Input Form -->
                                    <!--종류-->
                                    <div class="row align-items-center">
                                        <div class="d-none d-md-block col-sm-2">
                                            <label class="h6 small d-block text-uppercase mb-3 mb-lg-0">종류</label>
                                        </div>
                                        <div class="col-12 col-sm-10">
                                            <select class="custom-select">
                                                <option selected="">전체</option>
                                                <option>왕란</option>
                                                <option>대란</option>
                                                <option>특란</option>
                                                <option>중란</option>
                                                <option>소란</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr class="my-2">
                                    <!--지역-->
                                    <div class="row align-items-center">
                                        <div class="d-none d-md-block col-sm-2">
                                            <label class="h6 small d-block mb-3 mb-lg-0">지역</label>
                                        </div>
                                        <div class="col-12 col-sm-10 input-group form">
                                            <div class="input-group-prepend form__prepend">
                                                <button type="button" class="btn btn-primary">
                                                    <i class="fas fa-paper-plane"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control form__input" placeholder="Default example with button" aria-label="Default example with button" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <hr class="my-2">
                                    <!--지역2-->
                                    <div class="row align-items-center">
                                        <div class="d-none d-md-block col-sm-2">
                                            <label class="h6 small d-block mb-3 mb-lg-0">지역2</label>
                                        </div>
                                        <div class="col-12 col-sm-10">
                                            <select class="custom-select">
                                                <option selected="">전국</option>
                                                <option>서울</option>
                                                <option>대전</option>
                                                <option>대구</option>
                                                <option>부산</option>
                                                <option>경기</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr class="my-2">
                                    <!--최저수량-->
                                    <div class="row align-items-center">
                                        <div class="d-none d-md-block col-sm-2">
                                            <label class="h6 small d-block text-uppercase mb-3 mb-lg-0" for="customRange3">최저수량</label>
                                        </div>
                                        <div class="col-3 col-sm-2">
                                            <input type="text" class="form-control form__input">
                                        </div>
                                        <div class="col-9 col-sm-8">
                                            <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End 검색 Form -->
            </div>
        </div>
        <!-- End Hero Section -->

        <!-- News Section -->
        <div class="container space-1 space-1--lg">
            <!-- 상품 line-->
            <div class="row">
                <div class="media align-items-center pr-lg-4 col-5">
                    <img class="max-width-6 mr-1" th:src="@{/svg/business-icons/iStar_Design_Business_LineIcons_Live-85.svg}" alt="Image Description"/>
                    <div class="media-body">
                        <p class="h4 mb-0">상품</p>
                    </div>
                </div>
                <div class="col-7 col-md-2 offset-md-5">
                    <select id="" class="form-control form-inline">
                        <option selected="">가격순</option>
                        <option>이름순</option>
                    </select>
                </div>
            </div>
            <hr class="my-2">
            <!-- 상품 alert -->
            <div class="alert alert-warning" role="alert">
                지금 <a href="#" class="alert-link">회원 로그인</a>을 하시면 더욱 저렴한 가격으로 구매 가능합니다.
            </div>

            <!--상품 리스트 -->
            <div class="card-deck d-block d-lg-flex">
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/10_0l.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란 대란 30구 5판
                                    </h2>
                                    <p class="mb-0">5판 35000 100판 34000</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">

                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/9_0l.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란 대란 30구 5판
                                    </h2>
                                    <p class="mb-0">100판 얼마 1000판 얼마 배송지역 어디</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
            </div>
            <div class="card-deck d-block d-lg-flex">
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/7_0l.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란 명품란 10구 4팩
                                    </h2>
                                    <p class="mb-0">100판 얼마 1000판 얼마 배송지역 어디</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">

                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/6_0l.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란
                                    </h2>
                                    <p class="mb-0">100판 얼마 1000판 얼마 배송지역 어디</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
            </div>
            <div class="card-deck d-block d-lg-flex">
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/img4.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란
                                    </h2>
                                    <p class="mb-0">100판 얼마 1000판 얼마 배송지역 어디</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/img4.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란
                                    </h2>
                                    <p class="mb-0">100판 얼마 1000판 얼마 배송지역 어디</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
            </div>

            <!-- 대리점 line-->
            <div class="mt-5">
                <div class="media align-items-center pr-lg-4">
                    <img class="max-width-6 mr-1" th:src="@{svg/business-icons/iStar_Design_Business_LineIcons_Live-98.svg}" alt="Image Description"/>
                    <div class="media-body">
                        <p class="h4 mb-0">대리점</p>
                    </div>
                </div>
                <hr class="my-2">
            </div>

            <!-- 대리점 리스트 -->
            <div class="card-deck d-block d-lg-flex">
                <article class="card border-0 mb-2">
                    <a href="agent" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-8 border border-right-0 ">
                                <h2 class="h6">대리점1</h2>
                                <address class="mb-0">
                                    <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                        <li class="py-1">서울 동대문구 이문동 204-397</li>
                                        <li class="py-2">취급품목:왕란 대란 소란</li>
                                        <li class="py-1">(02) 347 8854</li>
                                    </ul>
                                </address>
                            </div>
                            <div class="col-4 border border-left-0 rounded-right">
                                <div id="map" class="js-g-map h-100"></div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
                <article class="card border-0 mb-2">
                    <a href="agent" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-8 border border-right-0 ">
                                <h2 class="h6">대리점1</h2>
                                <address class="mb-0">
                                    <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                        <li class="py-1">서울 동대문구 이문동 204-397</li>
                                        <li class="py-2">취급품목:왕란 대란 소란</li>
                                        <li class="py-1">(02) 347 8854</li>
                                    </ul>
                                </address>
                            </div>
                            <div class="col-4 border border-left-0 rounded-right">
                                가게 간판? 가게전경?
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
            </div>

            <!-- 협력사 line -->
            <div class="mt-5">
                <div class="media align-items-center pr-lg-4">
                    <img class="max-width-6 mr-1" th:src="@{/svg/business-icons/iStar_Design_Business_LineIcons_Live-68.svg}" alt="Image Description"/>
                    <div class="media-body">
                        <p class="h4 mb-0">협력사</p>
                    </div>
                </div>
                <!-- End Icon Block -->
                <hr class="my-2 text-blue">
            </div>

            <div class="card-deck d-block d-lg-flex">
                <article class="card border-0 mb-2">
                    <a href="partner" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-8 border border-right-0 ">
                                <h2 class="h6">대리점1</h2>
                                <address class="mb-0">
                                    <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                        <li class="py-1">서울 동대문구 이문동 204-397</li>
                                        <li class="py-2">취급품목:왕란 대란 소란</li>
                                        <li class="py-1">(02) 347 8854</li>
                                    </ul>
                                </address>
                            </div>
                            <div class="col-4 border border-left-0 rounded-right">
                                <div id="staticMap" class="js-g-map h-100"></div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
                <article class="card border-0 mb-2">
                    <a href="partner" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-8 border border-right-0 ">
                                <h2 class="h6">대리점1</h2>
                                <address class="mb-0">
                                    <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                        <li class="py-1">서울 동대문구 이문동 204-397</li>
                                        <li class="py-2">취급품목:왕란 대란 소란</li>
                                        <li class="py-1">(02) 347 8854</li>
                                    </ul>
                                </address>
                            </div>
                            <div class="col-4 border border-left-0 rounded-right">
                                <!--<img class="img-responsive img-thumbnail" src="assets/img/500x550/img4.jpg" alt="Image Description">-->
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
            </div>
        </div>
    </main>
</section>
<footer layout:fragment="footer">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=af40a347c5a17c5118392cee56f35da6&libraries=services"></script>
    <script>
        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new daum.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        var map = new daum.maps.Map(container, options); //지도 생성 및 객체 리턴\

        // 마커가 표시될 위치입니다
        var markerPosition  = new daum.maps.LatLng(33.450701, 126.570667);

        // 마커를 생성합니다
        var marker = new daum.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 이미지 지도에서 마커가 표시될 위치입니다
        var markerPosition  = new daum.maps.LatLng(33.450701, 126.570667);

        // 이미지 지도에 표시할 마커입니다
        // 이미지 지도에 표시할 마커는 Object 형태입니다
        var marker = {
            position: markerPosition
        };

        var staticMapContainer  = document.getElementById('staticMap'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new daum.maps.LatLng(33.450701, 126.570667), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: marker // 이미지 지도에 표시할 마커
            };

        // 이미지 지도를 생성합니다
        var staticMap = new daum.maps.StaticMap(staticMapContainer, staticMapOption);

    </script>

</footer>
</html>