<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://www.thymeleaf.org" >

<footer layout:fragment="footer" class="bg-dark">
    <div class="container space-1">
        <div class="row justify-content-md-between">
            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-2 mb-lg-0">
                <h3 class="h6 text-white mb-3">회사소개</h3>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-2 mb-lg-0">
                <h3 class="h6 text-white mb-3">공지사항</h3>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-2 mb-lg-0">
                <h3 class="h6 text-white mb-3">이용약관</h3>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-2 mb-lg-0">
                <h3 class="h6 text-white mb-3">개인정보처리방침</h3>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-start flex-column">
                <!-- Logo -->
                <!-- <a class="d-inline-block mb-5" href="index.html" aria-label="Space">
                  <img src="assets/svg/logos/logo-short-white.svg" alt="Logo" style="width: 40px; max-width: 100%;">
                </a> -->
                <!-- End Logo -->
                <p class="small text-muted">계란유통전문 코리아에그
                    경기도 수원시 권선구 권선동 1039-6
                    대표자 : 강병열 사업자등록번호:130-90-14617 통신판매업신고:2014-수원권선-0346 (031) 297-8243 kbre2000@gmail.com</p>
            </div>
        </div>
    </div>

</footer>
</html>