<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.w3.org/1999/xhtml">

    <header layout:fragment="header" id="header" class="u-header u-header--modern u-header--bordered u-header--sticky-top-sm">
        <div class="u-header__section">
            <div id="logoAndNav" class="container-fluid">
                <div class="js-scrollbar-header u-header--sticky__inner">
                    <!-- Nav -->
                    <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
                        <!-- Logo -->
                        <div class="u-header__navbar-brand-wrapper">
                            <a class="navbar-brand u-header__navbar-brand" href="/" >
                                <img class="u-header__navbar-brand-on-scroll" th:src="@{/svg/logos/logo.svg}" alt="Logo"/>
                                <img class="u-header__navbar-brand-mobile" th:src="@{/svg/logos/logo.svg}" alt="Logo"/>
                            </a>
                        </div>
                    <!-- End Logo -->
                    <!-- Responsive Toggle Button -->
                    <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                        <span class="d-none d-sm-inline-block">Menu</span>
                        <span id="hamburgerTrigger" class="u-hamburger__box ml-3">
                            <span class="u-hamburger__inner"></span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                    <!-- Navigation -->
                    <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse py-0">
                        <ul class="navbar-nav u-header__navbar-nav">
                            <!-- Dropdown -->
                            <!--<li class="nav-item hs-has-sub-menu u-header__nav-item"
                                data-event="click"
                                data-animation-in="fadeInUp"
                                data-animation-out="fadeOut">
                                <a id="changeUser" class="nav-link u-header__nav-link" href="javascript:;"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                                   aria-labelledby="changeUserSubMenu">
                                    회원등급변경
                                    <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                                </a>
                                &lt;!&ndash; Dropdown Submenu &ndash;&gt;
                                <ul id="changeUserSubMenu" class="list-inline hs-sub-menu u-header__sub-menu mb-0" style="min-width: 220px;"
                                    aria-labelledby="changeUser">
                                    <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                        <a class="nav-link u-header__sub-menu-nav-link" href="/change/ROLE_USER/일반">일반</a>
                                    </li>
                                    <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                        <a class="nav-link u-header__sub-menu-nav-link" href="/change/ROLE_STORE/소매점">소매점</a>
                                    </li>
                                    <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                        <a class="nav-link u-header__sub-menu-nav-link" href="/change/ROLE_RETAILER/소매유통인">소매유통인</a>
                                    </li>
                                    <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                        <a class="nav-link u-header__sub-menu-nav-link" href="/change/ROLE_WHOLESALER/도매유통인">도매유통인</a>
                                    </li>
                                    <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                        <a class="nav-link u-header__sub-menu-nav-link" href="/change/ROLE_PARTNER/파트너">파트너</a>
                                    </li>
                                    <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                        <a class="nav-link u-header__sub-menu-nav-link" href="/change/ROLE_AGENT/대리점">대리점</a>
                                    </li>
                                    <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                        <a class="nav-link u-header__sub-menu-nav-link" href="/change/ROLE_ADMIN/관리자">관리자</a>
                                    </li>
                                </ul>
                            </li>-->
                            <!-- Home -->
                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link" href="/">
                                    Home
                                </a>
                            </li>
                            <!-- End Home -->
                            <!-- Home -->
                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link" href="/agent/list">
                                    대리점
                                </a>
                            </li>
                            <!-- End Home -->
                            <!-- Works -->
                            <!--<li class="nav-item u-header__nav-item">
                                <a sec:authorize="!hasAuthority('CAST_READ')" class="nav-link u-header__nav-link text-warning" href="javascript:alert('권한이없습니다')">
                                    협력사
                                </a>
                                <a sec:authorize="hasAuthority('CAST_READ')" class="nav-link u-header__nav-link" href="/agentList">
                                    협력사
                                </a>
                            </li>-->
                            <!-- End Works -->
                            <!-- Works -->
                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link" href="/priceInfo/list">
                                    난가정보
                                </a>
                            </li>
                            <!-- End Works -->
                            <!-- Blog -->
                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link" href="/board/list">
                                    게시판
                                </a>
                            </li>
                            <!-- End Blog -->
                            <!-- Blog -->
                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link" href="/class">
                                    회원등급
                                </a>
                            </li>
                            <!-- End Blog -->
                            <!-- 로그인 버튼 -->
                            <li sec:authorize="isAnonymous()" class="nav-item u-header__nav-item-btn u-header__navbar-v-divider navbar-collapse-xs d-none d-sm-block" >
                                <a class="btn btn-sm btn-primary btn-xs" href="/login" role="button">
                                    <span class="fa fa-user mr-1"> 로그인/회원가입</span>
                                </a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="nav-item u-header__nav-item u-header__navbar-v-divider d-none d-sm-block">
                                <a class="nav-link u-header__nav-link small" href="/mypage">
                                    <span class="fa fa-user mr-1"><span sec:authentication="name"></span>(<span sec:authentication="principal.shop.name"></span>)
                                </a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="nav-item u-header__nav-item d-none d-sm-block">
                                <a class="nav-link u-header__nav-link p-0" href="/logout" role="button">
                                    <button type="button" class="btn btn-outline-secondary btn-xs">로그아웃</button>
                                </a>
                            </li>
                            <!--TODO 관리자만 보이도록 sec:authorize="hasAuthority('ROLE_ADMIN')"-->
                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link p-0" href="/admin" role="button">
                                    <button type="button" class="btn btn-outline-secondary btn-xs">관리자페이지</button>
                                </a>
                            </li>
                            <!-- End 로그인 버튼 -->
                        </ul>
                    </div>
                    <!-- End Navigation -->
                    <ul class="navbar-nav flex-row u-header__secondary-nav">
                        <li sec:authorize="isAuthenticated()" class="nav-item u-header__navbar-icon-wrapper u-header__navbar-icon d-block d-sm-none">
                            <a class="btn btn-xs btn-icon btn-text-dark" href="/mypage">
                                <span class="fa fa-user btn-icon__inner "></span>
                            </a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="nav-item u-header__navbar-icon-wrapper u-header__navbar-icon d-block d-sm-none" >
                            <a role="button" class="btn btn-xs btn-icon btn-text-dark" href="/login">
                                <span class="fa fa-user btn-icon__inner"></span>
                                </span>
                            </a>
                        </li>
                        <!-- Shopping Cart -->
                        <li class="nav-item u-header__navbar-icon-wrapper u-header__navbar-icon">
                            <a class="btn btn-xs btn-icon btn-text-dark mx-2" href="#shoppingCartModal" role="button"
                               data-modal-target="#shoppingCartModal"
                               data-overlay-color="#151b26">
                                <span class="fa fa-shopping-cart btn-icon__inner"></span>
                                <span th:if="${session.cart}!=null">
                                    <span id="cart-badge" th:unless="${session.cart.productsMap.empty}" class="badge-xs badge-primary badge-pos rounded-circle" th:text="${session.cart.cartSize}"></span>
                                </span>
                            </a>
                        </li>
                        <!-- End Shopping Cart -->
                    </ul>
                </nav>
            </div>
        </div>
                <!-- End Nav -->
        </div>


        <!-- Shopping Cart Modal Window -->
        <div id="shoppingCartModal" class="js-shopping-account u-modal-window" style="width: 370px;">
            <!-- Modal Close Button -->
            <button class="btn btn-sm btn-icon btn-text-secondary u-modal-window__close" type="button" onclick="Custombox.modal.close();">
                <span class="fas fa-times"></span>
            </button>
            <!-- End Modal Close Button -->

            <!-- Title -->
            <header class="text-center p-4">
                장바구니
            </header>
            <!-- End Title -->

            <hr class="my-0">
            <div class="p-4 text-center" th:if="${session.cart}==null or ${session.cart.total} ==0 ">
                <span class="u-icon u-icon--primary u-icon--md rounded-circle mb-3">
                                      <span class="fa fa-shopping-basket u-icon__inner"></span>
                                    </span>
                <span class="d-block">장바구니가 비었습니다</span>
                <button class="btn btn-primary mt-2" onclick="Custombox.modal.close();">쇼핑계속하기</button>
            </div>

            <!-- Items Wrapper -->
            <div th:if="${session.cart}!=null and ${session.cart.total} !=0">
                <div class="p-4 cart-item"  th:each="item : ${session.cart.productsMap}" >
                    <!-- Item -->
                    <div class="d-flex">
                        <div class="u-shopping-cart__item-img-wrapper mr-3">
                            <!--<img class="img-fluid" src="../../assets/img/100x100/img5.jpg" alt="Image Description">-->
                        </div>
                        <div class="u-shopping-cart__item-info-wrapper" >
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span class="d-block h6 mb-0" th:text="${item.value.productName}">Space shoes</span>
                                <a class="u-shopping-cart__item-remover" aria-hidden="true" th:data-id="${item.value.productId}">&times;</a>
                            </div>
                            <span class="d-block text-secondary font-size-13 data-qty" th:data-qty="${item.value.qty}" th:text="'수량: '+${item.value.qty}">1</span>
                            <span class="d-block text-secondary font-size-13 data-price" th:data-price="${item.value.price}" th:text="'가격: '+${item.value.price}"></span>
                        </div>
                    </div>
                    <!-- End Item -->
                </div>
            </div>
            <!-- End Items Wrapper -->
            <!-- Subtotal -->
            <div class="text-center bg-gray-100 p-4" th:if="${session.cart}!=null and ${session.cart.total} !=0">
                <div class="mb-3">
                    <span class="d-block h6 mb-0">Order Total</span>
                    <span class="d-block" id="cartTotal" th:text="${session.cart.total}"></span>
                </div>
                <a class="btn btn-sm btn-primary" href="/cart">카트로 이동</a>
                <a class="d-block small text-secondary mt-2" href="javascript: Custombox.modal.close();">쇼핑계속하기</a>
            </div>
            <!-- End Subtotal -->
        </div>
        <!-- End Shopping Cart Modal Window -->
        <!-- JS Plugins Init. -->
        <script>

            $(document).on('ready', function () {
                // initialization of autonomous popups
                $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-signup-account', '.js-shopping-account', {
                    autonomous: true
                });

                $('.u-shopping-cart__item-remover').on('click', function(){
                    var $remover = $(this);
                    var id = $remover.attr("data-id");
                    $.ajax({
                        url: '/cart/remove?id='+id,
                        type: 'delete',
                        success: function(response){
                            if (response == "sucess") {
                                $remover.parents("div .cart-item").detach();
                                $("#cart-badge").text($("#cart-badge").text()-1);

                                var total = 0;
                                $(".data-qty").each(function () {
                                   var qty = $(this).attr("data-qty");
                                   var price = $(this).siblings(".data-price").attr("data-price");
                                    console.log(qty*price);
                                    total += qty*price
                                    console.log(total);
                                });
                                $("#cartTotal").text(total);

                            }else if (response == "fail") {
                                alert("정상적으로 삭제되지 않았습니다");
                            }
                        }
                    });

                });
            });
        </script>
    </header>
</html>