<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default"  >

<section layout:fragment="content">
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- CTA -->
        <div class="gradient-half-primary-v1 text-center rounded space-1 mt-lg-9">
            <div class="mb-4">
                <h2 class="h4 text-white">공지사항</h2>
                <p class="text-white">코리아에그의 공지 및 계란소식을 전해드립니다</p>
            </div>
            <a class="btn btn-sm btn-primary btn-wide" href="/board/list">공지사항</a>
            <!-- TODO 1:1문의는 로그인 한사람만 가능해야함?ㅠㅠ-->
            <a class="btn btn-sm btn-dark btn-wide" href="/contact/list">1:1문의</a>
        </div>
        <!-- End CTA -->

        <!-- 난가정보 section -->
        <div class="container space-1 space-2--lg">
            <!--전체 난가정보-->
            <div class="board">
                <div class="board-heading row text-center">
                    <div class="col-sm-1 hidden-sm d-none d-sm-block">유형</div>
                    <div class="col-12  col-sm-8">제목</div>
                    <div class="col-sm-2 hidden-sm d-none d-sm-block">등록일</div>
                </div>
                <ul class="list-unstyled">
                    <li th:each="board : ${boardList}" class="row board-row text-center">
                        <div class="col-sm-1 d-none d-sm-block"><span th:text="${board.boardName}" class="text-danger">공지</span></div>
                        <div class="col-12 col-sm-8 text-left">
                            <span th:text="${board.boardName}" class="badge badge-primary d-block d-sm-none"></span>
                            <a th:href="@{read(id=${board.id})}"><span th:text="${board.title}" ></span></a>
                            <span th:text="${#dates.format(board.regDate, 'yyyy.MM.dd')}" class="d-block d-sm-none"></span>
                        </div>
                        <div th:text="${#dates.format(board.regDate, 'yyyy.MM.dd')}" class="col-sm-2 d-none d-sm-block">2016.05.01</div>
                    </li>
                </ul>
            </div>
            <!--END 전체난가정보-->
        </div>
        <!--END 난가정보 section-->
    </main>
</section>