<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layout/default}" >
<section layout:fragment="content">

    <div th:replace="board/boardList.html :: header"></div>
    <div class="space-1">
        <div th:fragment="board" class="container" th:unless="${modify} or ${register}" th:object="${board}">
            <div class="row">
                <div class="col-sm-1 text-danger align-text-bottom" th:text="*{boardName}"></div>
                <div class="col-sm-9 h5" th:text="*{title}"></div>
                <div class="col-sm-2 align-text-bottom" th:text="${#dates.format(board.regDate, 'yyyy.MM.dd')}"></div>
                <div class="col-sm-12" th:utext="*{contents}"></div>
            </div>
            <div class="text-center">
                <a  role="button" class="btn btn-primary" th:href="@{list}">목록</a>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</section>
</html>
