<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/default"  >
<section layout:fragment="content">

    <div th:replace="board/contactList.html :: header"></div>

    <div class="space-1 container">
        <form method="post" th:action="@{register}" th:object="${contact}">
            <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="hidden" name="id" th:value="*{id}">
            <span th:if="*{answerFlag}" class="text-danger">답변완료</span>
            <span th:unless="*{answerFlag}" class="text-danger">답변대기</span>
            <span th:unless="${modify} or ${register}" th:text="*{#dates.format(regDate, 'yyyy.MM.dd')}"></span>

            <!-- INPUT -->
            <div class="row form-group">
                <label class="col-sm-2 col-form-label ">성명:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" th:readonly="!${modify} and !${register}" th:class="${modify} or ${register}? 'form-control': 'form-control-plaintext'"
                           name="reqName" th:classappend="${#fields.hasErrors('reqName')}? 'is-invalid'"
                            th:value="${register}? ${#authentication.principal.username} : *{reqName} "
                    >
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('reqName')}" th:errors="*{reqName}"></div>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-2 col-form-label">연락처:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" th:readonly="!${modify} and !${register}" th:class="${modify} or ${register}? 'form-control': 'form-control-plaintext'"
                           name="reqMobile" th:classappend="${#fields.hasErrors('reqMobile')}? 'is-invalid'"
                           th:value="${register}? ${#authentication.principal.phone} : *{reqMobile} "
                    >
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('reqName')}" th:errors="*{reqMobile}"></div>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-2 col-form-label">제목:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" th:readonly="!${modify} and !${register}" th:class="${modify} or ${register}? 'form-control': 'form-control-plaintext'"
                           th:field="*{title}" th:classappend="${#fields.hasErrors('title')}? 'is-invalid'"
                    >
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-2 col-form-label">내용:</label>
                <div class="col-sm-10">
                    <textarea   rows="6" class="form-control" type="text" th:readonly="!${modify} and !${register}" th:class="${modify} or ${register}? 'form-control': 'form-control-plaintext'"
                           th:field="*{contents}" th:classappend="${#fields.hasErrors('contents')}? 'is-invalid'"
                    ></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('contents')}" th:errors="*{title}"></div>
                </div>
            </div>

            <div class="row form-group">
                <div th:unless="!${modify} and !${register}" th:remove="tag" >
                    <label class="col-sm-2 col-form-label">답변:</label>
                    <div class="col-sm-10" th:text="*{answer}">
                    </div>
                </div>

                <div class="col-12 text-center">
                    <input type="submit" th:if="${modify} or ${register}" class="btn btn-primary btn-wide" value="입력완료"/>
                    <a role="button" th:unless="${modify} or ${register}" class="btn btn-danger text-white" href="javascript:history.back();">이전</a>
                </div>
            </div>
        </form>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</section>
</html>
