<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/default"  >

<section layout:fragment="content">

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Hero Section -->
        <div class="gradient-half-primary-v1 text-center rounded space-1 mt-lg-9">
                <h2 class="h4 text-white">회원등급</h2>
                <p class="text-white">회원등급에 따라 서비스가 달라집니다. 자세한문의는 게시판 혹은 전화문의주세요</p>
        </div>
        <!-- End Hero Section -->
        <!-- 난가정보 section -->
        <div class="container my-3">
                <!-- Pricing -->
                <div class="row justify-content-lg-center">
                    <div class="col-md-6 col-lg-3 mb-3">
                            <!-- Pricing -->
                            <div class="card mb-3">
                                <!-- Header -->
                                <header class="card-header">
                                    <h4 class="h6  mb-3">일반회원</h4>
                                    <span class="d-block">
                                      <span class="h2 text-dark">
                                        Free
                                      </span>
                                    </span>
                                </header>
                                <!-- End Header -->

                                <!-- Content -->
                                <div class="card-body">
                                    <ul class="list-unstyled mb-4">
                                        <li class="font-size-14 py-2">상품 검색</li>
                                        <li class="font-size-14 py-2">대리점 검색</li>
                                    </ul>
                                    <a sec:authorize="isAnonymous()" class="btn btn-block btn-sm btn-secondary text-white" href="/login">로그인/회원가입</a>
                                    <a sec:authorize="isAuthenticated()" class="btn btn-block btn-sm btn-secondary text-white" href="#">로그인/회원가입</a>
                                </div>
                                <!-- End Content -->
                            </div>
                            <!-- End Pricing -->
                            <div class="mb-3">
                                <!-- Pricing -->
                                <div class="card">
                                    <!-- Header -->
                                    <header class="card-header">
                                        <h4 class="h6 text-primary mb-3">소매점</h4>
                                        <span class="d-block">
                                  <span class="h2 text-dark">
                                    50,000
                                  </span>
                                  <span class="text-secondary font-size-14">/year</span>
                                </span>
                                    </header>
                                    <!-- End Header -->

                                    <!-- Content -->
                                    <div class="card-body">
                                        <ul class="list-unstyled mb-4">
                                            <li class="font-size-14 py-2 text-primary">소폭 할인된 가격</li>
                                            <li class="font-size-14 py-2">상품 검색</li>
                                            <li class="font-size-14 py-2">대리점 검색</li>
                                        </ul>
                                        <button type="button" class="btn btn-block btn-sm btn-primary">Upgrade</button>
                                    </div>
                                    <!-- End Content -->
                                </div>
                                <!-- End Pricing -->
                            </div>
                    </div>

                    <div class="col-md-6 col-lg-3 mb-3">
                        <!-- Pricing -->
                        <div class="card">
                            <!-- Header -->
                            <header class="card-header">
                                <h4 class="h6 text-danger mb-3">유통인 <span class="badge badge-danger">Best</span></h4>
                                <span class="d-block">
                                  <span class="h2 text-dark">
                                    100,000
                                  </span>
                                  <span class="text-secondary font-size-14">/year</span>
                                </span>
                            </header>
                            <!-- End Header -->

                            <!-- Content -->
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li class="font-size-14 py-2 text-danger">난가정보 조회</li>
                                    <li class="font-size-14 py-2 text-danger">난가예보</li>
                                    <li class="font-size-14 py-2 text-danger">협력사 검색</li>
                                    <li class="font-size-14 py-2 text-danger">대폭 할인된 가격</li>
                                    <li class="font-size-14 py-2">상품 검색</li>
                                    <li class="font-size-14 py-2">대리점 검색</li>
                                </ul>
                                <button type="button" class="btn btn-block btn-sm btn-danger">Upgrade</button>
                            </div>
                            <!-- End Content -->
                        </div>
                        <!-- End Pricing -->
                    </div>

                    <div class="col-md-6 col-lg-3 mb-3">
                        <!-- Pricing -->
                        <div class="card">
                            <!-- Header -->
                            <header class="card-header">
                                <h4 class="h6 text-purple mb-3">파트너</h4>
                                <span class="d-block">
                                  <span class="h2 text-dark">
                                    150,000
                                  </span>
                                  <span class="text-secondary font-size-14">/year</span>
                                </span>
                            </header>
                            <!-- End Header -->

                            <!-- Content -->
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li class="font-size-14 py-2 text-purple">상품 등록</li>
                                    <li class="font-size-14 py-2 text-purple">협력사 등록</li>
                                    <li class="font-size-14 py-2 ">난가정보 조회</li>
                                    <li class="font-size-14 py-2 ">난가예보</li>
                                    <li class="font-size-14 py-2 ">협력사 검색</li>
                                    <li class="font-size-14 py-2 ">대폭 할인된 가격</li>
                                    <li class="font-size-14 py-2">상품 검색</li>
                                    <li class="font-size-14 py-2">대리점 검색</li>
                                </ul>
                                <button type="button" class="btn btn-block btn-sm btn-purple">Upgrade</button>
                            </div>
                            <!-- End Content -->
                        </div>
                        <!-- End Pricing -->
                    </div>

                    <div class="col-md-6 col-lg-3 mb-3">
                        <!-- Pricing -->
                        <div class="card">
                            <!-- Header -->
                            <header class="card-header">
                                <h4 class="h6 text-info mb-3">소매점</h4>
                                <span class="d-block">
                                  <span class="h2 text-dark">
                                    문의
                                  </span>
                                  <span class="text-secondary font-size-14">/year</span>
                                </span>
                            </header>
                            <!-- End Header -->

                            <!-- Content -->
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li class="font-size-14 py-2 text-info">Korea Egg 계란 납품</li>
                                    <li class="font-size-14 py-2 ">상품 등록</li>
                                    <li class="font-size-14 py-2 ">협력사 등록</li>
                                    <li class="font-size-14 py-2 ">난가정보 조회</li>
                                    <li class="font-size-14 py-2 ">난가예보</li>
                                    <li class="font-size-14 py-2 ">협력사 검색</li>
                                    <li class="font-size-14 py-2 ">대폭 할인된 가격</li>
                                    <li class="font-size-14 py-2">상품 검색</li>
                                    <li class="font-size-14 py-2">대리점 검색</li>
                                </ul>
                                <button type="button" class="btn btn-block btn-sm btn-info">Upgrade</button>
                            </div>
                            <!-- End Content -->
                        </div>
                        <!-- End Pricing -->
                    </div>
                </div>
                <!-- End Pricing -->
        </div>
        <!-- End Pricing Section -->

        </div>
        <!--END 난가정보 section-->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

</section>