<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default"  >

<section layout:fragment="content">
    <!-- ========== MAIN CONTENT ========== -->
    <!-- CTA -->
    <div th:fragment="header(title)" class="gradient-half-primary-v1 text-center rounded space-1 mt-lg-9">
        <div class="mb-4">
            <h2 class="h4 text-white" th:if="${title} == null">마이페이지</h2>
            <h2 class="h4 text-white" th:unless="${title} == null" th:text="${title}"></h2>
            <!--<p class="text-white">마이페이지</p>-->
        </div>
        <a class="btn btn-sm btn-primary btn-wide" th:href="@{/mypage}">마이페이지</a>
        <a class="btn btn-sm btn-dark btn-wide" th:href="@{/order/list}">주문내역</a>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_AGENT','ROLE_PARTNER')" class="btn btn-sm btn-primary btn-wide" th:href="@{/partner/product/list}">상품</a>
    </div>
    <!-- End CTA -->
    <div class="container space-1">
        <form th:formaction="@{mod}" method="post" th:object="${user}">
            <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="hidden" name="id" th:value="*{id}">

            <div class="form-group row">

                <label class="col-3 col-md-2 col-form-label">아이디</label>
                <div class="col-9 col-md-4">
                    <input type="text" readonly th:class="form-control-plaintext" th:field="*{userId}">
                </div>

                <label class="col-3 col-md-2 col-form-label">회원등급</label>
                <div class="col-9 col-md-4">
                    <input type="hidden" th:field="*{baseRole}">
                    <label th:class="col-form-label" th:text="*{baseRole.roleName}"></label>
                </div>

                <label class="col-3 col-md-2 col-form-label">비밀번호 <span class="text-danger">*</span></label>
                <div class="col-9 col-md-4">
                    <a href="/user/password_change" class="btn btn-sm btn-secondary">비밀번호 변경</a>
                </div>
                <div class="col-12"></div>

                <label class="col-3 col-md-2 col-form-label">성명 <span class="text-danger">*</span></label>
                <div class="col-9 col-md-4">
                    <input type="text" th:readonly="!${modify}" th:class="${modify}? 'form-control': 'form-control-plaintext'"
                           th:field="*{userName}" th:classappend="${#fields.hasErrors('userName')}? 'is-invalid'" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
                </div>

                <label class="col-3 col-md-2 col-form-label">핸드폰 <span class="text-danger">*</span></label>
                <div class="col-9 col-md-4">
                    <input type="text" th:readonly="!${modify}" th:class="${modify}? 'form-control': 'form-control-plaintext'"
                           th:field="*{phone}" th:classappend="${#fields.hasErrors('phone')}? 'is-invalid'" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                </div>
                <label class="h6 small col-3 col-md-2 col-form-label">상호</label>
                <div class="col-9 col-md-4">
                    <input type="hidden" th:field="*{shop.id}">
                    <input type="text" th:readonly="!${modify}" th:class="${modify}? 'form-control': 'form-control-plaintext'"
                           th:field="*{shop.name}" th:classappend="${#fields.hasErrors('shop.name')}? 'is-invalid'" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('shop.name')}" th:errors="*{shop.name}"></div>
                </div>
                <label class="h6 small col-3 col-md-2 col-form-label">전화</label>
                <div class="col-9 col-md-4">
                    <input type="text" th:readonly="!${modify}" th:class="${modify}? 'form-control': 'form-control-plaintext'"
                           th:field="*{shop.tel}" th:classappend="${#fields.hasErrors('shop.tel')}? 'is-invalid'" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('shop.tel')}" th:errors="*{shop.tel}"></div>
                </div>
                <label class="h6 small col-3 col-md-2 col-form-label">주소</label>
                <div class="col-9 col-md-10">
                    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
                        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
                    </div>
                    <input id="addr" type="text" th:readonly="!${modify}" th:class="${modify}? 'form-control': 'form-control-plaintext'" th:field="*{shop.addr}"/>
                    <input type="hidden" id="logitude" th:field="*{shop.postNum}">
                    <input type="hidden" id="logitude" th:field="*{shop.lon}">
                    <input type="hidden" id="latitude" th:field="*{shop.lat}">
                </div>
                <label class="h6 small col-3 col-md-2 col-form-label">상세주소</label>
                <div class="col-9 col-md-4">
                    <input type="text" th:readonly="!${modify}" th:class="${modify}? 'form-control': 'form-control-plaintext'"  th:field="*{shop.addrDetail}"/>
                </div>
                <label class="h6 small col-3 col-md-2 col-form-label">홈페이지</label>
                <div class="col-9 col-md-4">
                    <input type="text" th:readonly="!${modify}" th:class="${modify}? 'form-control': 'form-control-plaintext'"
                           th:field="*{shop.homepage}" th:classappend="${#fields.hasErrors('shop.homepage')}? 'is-invalid'" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('shop.homepage')}" th:errors="*{shop.homepage}"></div>
                </div>
                <div class="col-12"></div>
                <label class="h6 small col-3 col-md-2 col-form-label">가입일</label>
                <div class="col-9 col-md-4">
                    <input type="text" readonly th:class="form-control-plaintext" th:name="*{regDate}" th:value="*{#dates.format(regDate, 'yyyy.MM.dd')}">
                </div>
                <label class="h6 small col-3 col-md-2 col-form-label">만료일</label>
                <div class="col-9 col-md-4">
                    <input type="text" readonly th:class="form-control-plaintext" th:name="*{expireDate}" th:value="*{#dates.format(expireDate, 'yyyy.MM.dd')}">
                </div>

            </div>

            <input type="submit" class="btn btn-primary"  th:if="${modify}" id="submitBtn" value="수정완료"/>
            <a role="button" class="btn btn-primary text-white" th:unless="${modify}" th:href="@{/user/mod}">수정요청</a>

        </form>
        <!--<a role="button" class="btn btn-warning text-white" th:href="@{'/admin/resetPwd?id=' + ${user.id}}">비밀번호초기화</a>-->
    </div>

    <script th:inline="javascript" type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=af40a347c5a17c5118392cee56f35da6&libraries=services"></script>
    <script th:inline="javascript" type="text/javascript" src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).on('ready', function () {

            $("#addr").focus(function (obj) {
                $("#addr").css("zIndex","-1");
                sample3_execDaumPostcode();
                obj.target.blur();
            });

        });

        // 우편번호 찾기 찾기 화면을 넣을 element
        var element_layer = document.getElementById('layer');

        function closeDaumPostcode() {
            // iframe을 넣은 element를 안보이게 한다.
            element_layer.style.display = 'none';
            $("#addr").css("zIndex","");
        }

        function sample3_execDaumPostcode() {
            // 현재 scroll 위치를 저장해놓는다.
            new daum.Postcode({
                oncomplete: function(data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 주소로 좌표를 검색합니다
                    var geocoder = new daum.maps.services.Geocoder();
                    geocoder.addressSearch(addr, function(result, status) {
                        // 정상적으로 검색이 완료됐으면
                        if (status === daum.maps.services.Status.OK) {
                            document.getElementById("log").value = result[0].y;
                            document.getElementById("lat").value = result[0].x;
                        }
                    });

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    //document.getElementById('postNum').value = data.zonecode;
                    document.getElementById("addr").value = addr;

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_layer.style.display = 'none';

                    // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                },
                width : '100%',
                height : '100%',
                maxSuggestItems : 5
            }).embed(element_layer);

            // iframe을 넣은 element를 보이게 한다.
            element_layer.style.display = 'block';
            // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
            initLayerPosition();
        }

        // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
        // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
        // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
        function initLayerPosition(){
            var width = 300; //우편번호서비스가 들어갈 element의 width
            var height = 400; //우편번호서비스가 들어갈 element의 height
            var borderWidth = 5; //샘플에서 사용하는 border의 두께

            // 위에서 선언한 값들을 실제 element에 넣는다.
            element_layer.style.width = width + 'px';
            element_layer.style.height = height + 'px';
            element_layer.style.border = borderWidth + 'px solid';
            // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
            element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width)/2 - borderWidth) + 'px';
            element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height)/2 - borderWidth) + 'px';
        }

        /*]]>*/
    </script>
</section>