<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default"  >

<section layout:fragment="content">
    <div th:replace="user/mypage.html :: header('마이페이지')"></div>
    <!-- ========== MAIN CONTENT ========== -->
    <div class="container space-1 space-2--lg">
        <table class="table table-bordered table-responsive-sm table-sm table-hover">
            <thead>
            <tr class="table-secondary">
                <th class="text-sm-center">주문번호</th>
                <th class="text-sm-center">주문자</th>
                <th class="text-sm-center">결제금액</th>
                <th class="text-sm-center">주문상태</th>
                <th class="text-sm-center">날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="info,row : ${orderList}">
                <td><a th:href="@{read(id=${info.id})}"><span th:text="${info.id}"></span></a></td>
                <td><span th:text="${info.orderName}"></span></td>
                <td><span th:text="${info.total}"></span></td>
                <td><span th:text="${info.status}"></span></td>
                <td><span th:text="${#dates.format(info.regDate, 'yyyy.MM.dd')}"></span></td><!--적용일-->
            </tr>
            </tbody>
        </table>

        <span th:with="url=${@urlService.parseParamLeaf(search)}">
            <div th:replace="layout/pageMaker :: pageMaker('list',${url})"></div>
        </span>
    </div>
</section>