<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layout/noFooter}" >
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}" />
</head>
        <!-- ========== MAIN CONTENT ========== -->
        <form class="js-validate form-signin p-5" layout:fragment="content"
              th:formaction="@{/login}" method="post">
            <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <!-- Title -->
            <div class="text-center mb-4">
                <h1 class="h3 mb-0">아이디/비밀번호찾기</h1>
            </div>

            아이디찾기
            휴대폰 인증 < > [인증번호 전송]
            010-8079-0179로 인증번호가 전송되었습니다
            핸드폰으로 전송된 6 자리 인증번호를 입력하게요
            < > [인증완료]
            인증이 완료되었습니다
            인증하신정보와 일치하는 아이디입니다
            mink721 2019.02.12가입
            [비밀번호찾기]

            비밀번호찾기
            비밀번호를찾고자하는 아이디를 입력해주세요
            < > [입력완료]
            -가입된 회원이 없습니다
            010-8***-***9 [인증번호 전송]
            인증이 완료되었습니다
            새로운 비밀번호를 입력해주세요
            < > [변경하기]
            비밀번호 재설정이 완료되었습니다
            새로운 비밀번호를 사용하여 로그인 해주세요
           <!-- End Title -->

        </form>
        <!-- ========== END MAIN CONTENT ========== -->
</html>
