<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.koreaEgg.mapper.ProductMapper">

    <select id="selectProductList" parameterType="map" resultType="product">
        SELECT  t.id,
                t.shop_id,
                t.origin,
                t.consumer,
                t.reg_date,
                t.contents,
                t.size,
                t.name,
                <if test="role ==null ">
                    t.cost,
                    t.store ,
                    t.retail ,
                    t.wholesale ,
                    t.partner ,
                    t.agent,
                </if>
                s.name AS shop_name,
            CASE WHEN #{role}='STORE' THEN store
                WHEN #{role}='RETAILER' THEN retail
                WHEN #{role}='WHOLESALER' THEN wholesale
                WHEN #{role}='PARTNER' THEN partner
                WHEN #{role}='AGENT' THEN agent
                ELSE consumer
                END AS price
          FROM PRODUCT t, SHOP s
        WHERE t.shop_id = s.id
        AND t.status = 11
        <if test="shopId!=null and !shopId.equals('')">
            AND s.id = #{shopId}
        </if>
        <if test="size!=null and !size.equals('')">
            AND size = #{size}
        </if>
        ORDER BY size asc
        LIMIT #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <select id="selectProduct" parameterType="map" resultType="product">
        SELECT t.id,
                t.shop_id,
                t.origin,
                t.consumer,
                t.reg_date,
                t.contents,
                t.size,
                t.name,
                <if test="role ==null ">
                    t.cost,
                    t.store ,
                    t.retail ,
                    t.wholesale ,
                    t.partner ,
                    t.agent,
                </if>
                s.name AS shop_name,
                CASE WHEN #{role}='STORE' THEN store
                WHEN #{role}='RETAILER' THEN retail
                WHEN #{role}='WHOLESALER' THEN wholesale
                WHEN #{role}='PARTNER' THEN partner
                WHEN #{role}='AGENT' THEN agent
                ELSE consumer
                END AS price
        FROM PRODUCT t, SHOP s
        WHERE t.shop_id = s.id AND t.id = #{id} AND t.status = 11
    </select>
    <!-- TODO 상품등록 -->
    <insert id="createProduct" parameterType="product">
        INSERT INTO PRODUCT (shop_id, name, size, origin, cost, consumer, store, retail, wholesale, partner, agent, contents)
        VALUES (#{shopId},#{name},#{size},#{origin},#{cost},#{consumer},#{store},#{retail},#{wholesale},#{partner},#{agent},#{contents})
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--TODO userId 넣기 (수정한사람)-->
    <insert id="createPrice" parameterType="price">
        INSERT INTO PRICE (product_id, cost, consumer, store, retail, wholesale, partner, agent, reg_date)
        VALUES (#{productId},#{cost},#{consumer},#{store},#{retail},#{wholesale},#{partner},#{agent},NOW())
    </insert>

    <update id="updateProduct" parameterType="Product">
        UPDATE PRODUCT
        SET name = #{name}
        ,size = #{size}
        ,origin = #{origin}
        ,cost = #{cost}
        ,consumer = #{consumer}
        ,store = #{store}
        ,retail = #{retail}
        ,wholesale = #{wholesale}
        ,partner = #{partner}
        ,agent = #{agent}
        ,contents = #{contents}
        WHERE id = #{id}
    </update>

    <update id="deleteProduct" parameterType="Product">
        UPDATE PRODUCT
        SET status = 99
        WHERE id = #{id}
    </update>

    <update id="updateProductPrice" parameterType="Price">
        UPDATE PRODUCT
        SET
        consumer = #{consumer}
        <if test="cost neq null">,cost = #{cost}</if>
        ,store = #{store}
        ,retail = #{retail}
        ,wholesale = #{wholesale}
        ,partner = #{partner}
        ,agent = #{agent}
        WHERE id = #{productId}
    </update>



</mapper>