<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.koreaEgg.mapper.ProductMapper">

    <select id="selectProductList" parameterType="map">
        SELECT * FROM PRODUCT t, PRICE e WHERE t.id = e.prpduct_id
    </select>

    <select id="selectProduct" parameterType="long">
        SELECT * FROM PRODUCT WHERE id = #{id}
    </select>
    <!-- TODO 상품등록 -->
    <insert id="createProduct" parameterType="product">
        INSERT INTO PRODUCT (user_id, name, origin, contents)
        VALUES (#{userId},#{name},#{origin},#{contents})
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="createPrice" parameterType="price">
        INSERT INTO PRICE (product_id, user_id, cost, consumer, store, retail, wholeSale, partner, agent, reg_date)
        VALUES (#{productId}, #{userId},#{cost},#{consumer},#{store},#{retail},#{wholeSale},#{partner},#{agent},NOW())
    </insert>

</mapper>