<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.koreaEgg.mapper.ServiceMapper">

    <select id="selectPriceInfoByAreaId" parameterType="map" resultType="priceInfo">
        SELECT *, (SELECT area_name FROM AREA WHERE id = area_id) area_name
        FROM PRICE_INFO
        WHERE 1=1
        <if test="areaId != null">
            AND area_id = #{areaId}
        </if>
        ORDER BY id DESC
        LIMIT #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <select id="selectCountPriceInfoByAreaId" parameterType="map" resultType="int">
        SELECT count(*)
        FROM PRICE_INFO
        WHERE 1=1
        <if test="areaId != null">
            AND area_id = #{areaId}
        </if>
    </select>

    <select id="selectAreaList" resultType="area">
        SELECT * FROM AREA ORDER BY id ASC
    </select>

    <select id="selectAllPriceInfo" resultType="priceInfo">
    /* TODO AN 각 지역별로 최신난가정보 조회*/
        SELECT *, (SELECT area_name FROM AREA WHERE id = area_id) area_name
        FROM PRICE_INFO
        WHERE id IN
            (
                SELECT MAX(id) id FROM PRICE_INFO
                GROUP BY area_id
            )
        ORDER BY AREA_ID ASC
    </select>

    <insert id="createPriceInfo">
    /* TODO AN 난가정보 등록 updateDate는 DB에서 알아서 시분초까지 들어가길!  */
        INSERT INTO PRICE_INFO (area_id, size1, size2, size3, size4, size5, size6, reg_date, memo)
        VALUES (#{areaId},#{size1},#{size2},#{size3},#{size4},#{size5},#{size6},NOW(),#{memo})
    </insert>

    <update id="updatePriceInfo" parameterType="priceInfo">
        UPDATE PRICE_INFO
        SET size1 = #{size1}
        ,size2 = #{size2}
        ,size3 = #{size3}
        ,size4 = #{size4}
        ,size5 = #{size5}
        ,size6 = #{size6}
        ,memo = #{memo}
        WHERE id = #{id}
    </update>

    <delete id="deletePriceInfo" parameterType="long">
        DELETE FROM PRICE_INFO WHERE id = #{id}
    </delete>





    <!-- TODO 게시판 등록-->
    <insert id="createBoardMessage" parameterType="boardMessage">
        INSERT INTO BOARD_MESSAGE (board_id, status, title, contents, reg_date)
        VALUES (#{boardId},1,#{title},#{contents},NOW())
    </insert>

    <!--TODO 게시판 수정-->
    <update id="updateBoardMessage" parameterType="boardMessage">
        UPDATE BOARD_MESSAGE
        SET status = #{status}
        , title = #{title}
        , contents = #{contents}
        , update_date = NOW()
    </update>

    <!--TODO 게시판 LIST COUNT -->
    <select id="selectBoardMessageListCount" parameterType="map" resultType="int">
        SELECT count(*) cnt
        FROM BOARD_MESSAGE
        WHERE 1=1
        <if test="boardId neq null">
            AND board_id = #{boardId}
        </if>
        <if test="status neq null">
            AND status = #{status}
        </if>
        <if test="searchText neq null">
            AND ( (title LIKE CONCAT('%',#{searchText},'%')) OR (contents LIKE CONCAT('%',#{searchText},'%')) )
        </if>
    </select>
    <!--TODO 게시판 LIST -->
    <select id="selectBoardMessageList" parameterType="map" resultType="boardMessage">
        SELECT a.*, b.board_name
        FROM BOARD_MESSAGE a, BOARD b
        WHERE a.board_id = b.id
        <if test="boardId neq null">
            AND a.board_id = #{boardId}
        </if>
        <if test="status neq null">
            AND a.status = #{status}
        </if>
        <if test="searchText neq null">
            AND ( (a.title LIKE CONCAT('%',#{searchText},'%')) OR (a.contents LIKE CONCAT('%',#{searchText},'%')) )
        </if>
        ORDER BY iD DESC
        LIMIT #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <select id="selectBoardList" resultType="board">
        SELECT *
        FROM BOARD
    </select>



    <!--TODO 게시판  -->
    <select id="selectBoardMessage" parameterType="long" resultType="boardMessage">
        SELECT a.*, b.board_name
        FROM BOARD_MESSAGE a, BOARD b
        WHERE a.board_id = b.id
        AND a.id = #{id}
    </select>

    <!--TODO 게시판 삭제-->
    <update id="deleteBoardMessage" parameterType="long">
        UPDATE BOARD_MESSAGE SET status = 99 WHERE id = #{id}
    </update>


    <!-- TODO 난가예보 등록-->
    <insert id="createPriceCast" parameterType="priceCast">
        INSERT INTO PRICE_CAST (reg_date, cast)
        VALUES (NOW(), #{cast})
    </insert>
    <!-- TODO 난가예보 수정-->
    <update id="updatePriceCast" parameterType="priceCast">
        UPDATE PRICE_CAST
        SET cast = #{cast}
        WHERE id = #{id}
    </update>
    <!-- TODO 난가예보 삭제-->
    <delete id="deletePriceCast" parameterType="long">
        DELETE FROM PRICE_CAST WHERE id = #{id}
    </delete>
    <select id="selectCountPriceCast" parameterType="map" resultType="int">
        SELECT count(*) cnt FROM PRICE_CAST
    </select>
    <select id="selectPriceCastList" parameterType="map" resultType="priceCast">
        SELECT * FROM PRICE_CAST ORDER BY id DESC
        LIMIT #{cri.pageStart}, #{cri.perPageNum}
    </select>


    <!-- 1:1문의 -->
    <insert id="createContactUs" parameterType="contactUs">
        INSERT INTO CONTACT_US (user_id, answer_flag, title, req_name, req_mobile, contents, reg_date)
        VALUES (#{userId},0,#{title},#{reqName},#{reqMobile},#{contents},NOW())
    </insert>

    <update id="updateContactUs" parameterType="contactUs">
        UPDATE CONTACT_US
        SET answer_flag = 1
        , answer = #{answer}
        , answer_date = NOW()
        WHERE id = #{id}
    </update>

    <select id="selectCountContactUs" parameterType="map" resultType="int">
        SELECT count(*) cnt FROM CONTACT_US
        WHERE 1=1
        <if test="userId neq null">
            AND user_id = #{userId}
        </if>
        <if test="answerFlag neq null">
            AND answerFlag = #{answerFlag}
        </if>
    </select>

    <select id="selectContactUsList" parameterType="map" resultType="contactUs">
        SELECT * FROM CONTACT_US
        WHERE 1=1
        <if test="userId neq null">
            AND user_id = #{userId}
        </if>
        <if test="answerFlag neq null">
            AND answerFlag = #{answerFlag}
        </if>
        LIMIT #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <select id="selectContactUs" parameterType="long" resultType="contactUs">
        SELECT * FROM CONTACT_US
        WHERE id = #{id}
    </select>

    <delete id="deleteContactUs" parameterType="long">
        DELETE FROM CONTACT_US WHERE id = #{id}
    </delete>
</mapper>