<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- Features Section -->
    <div th:fragment="foot" class="bg-light">
        <div class="container space-1 space-1--lg">
            <div class="card-deck d-block d-md-flex text-center">
                <!-- Card -->
                <div class="card shadow-sm mb-5 mb-md-0">
                    <div class="card-header">
                        난가예보
                    </div>
                    <div class="card-body bg-secondary">
                        <div class="text-white">
                            <i class="u-icon">
                                <span class="fa fa-lock u-icon__inner"></span>
                            </i>
                            유통인 회원만 볼수 있습니다.
                        </div>
                    </div>
                </div>
                <!-- End Card -->
                <!-- Card -->
                <div class="card shadow-sm mb-5 mb-md-0">
                    <div class="card-header">
                        계란생산이력조회
                    </div>
                    <div class="card-body">
                        <div class="text-center row">
                            <select class="custom-select col-3"></select>
                            <select class="custom-select col-3"></select>
                            <select class="custom-select col-3"></select>
                            <select class="custom-select col-3"></select>
                            <button type="button" class="btn btn-secondary btn-sm btn-block mt-2">조회</button>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card shadow-sm">
                    <div class="card-header">
                        구매요청
                    </div>
                    <div class="card-body">
                        <div class="text-center px-lg-1 px-3"
                        <ul class="list-unstyled text-secondary">
                            <li class="media align-items-center pb-2">
                                <img class="max-width-5 mr-2"  th:src="@{/svg/business-icons/iStar_Design_Business_LineIcons_Live-66.svg}" alt="Image Description"/>
                                <div class="media-body">
                                    문의 게시판
                                </div>
                            </li>
                            <li class="media align-items-center py-2">
                                <img class="max-width-5 mr-2"  th:src="@{/svg/business-icons/iStar_Design_Business_LineIcons_Live-53.svg}" alt="Image Description"/>
                                <div class="media-body">
                                    (010) 5342 6646
                                </div>
                            </li>
                        </ul>
                        <!--<p class="mb-0">문의주세요. 최선을 다해 상담해드립니다.</p>-->
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>