<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout"  xmlns:th="http://www.thymeleaf.org" >

<footer layout:fragment="footer" class="bg-dark">
    <div class="container space-1">
        <div class="row justify-content-md-between">
            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-2 mb-lg-0">
                <h3 class="h6 text-white mb-3">회사소개</h3>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-2 mb-lg-0">
                <h3 class="h6 text-white mb-3">공지사항</h3>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-2 mb-lg-0">
                <h3 class="h6 text-white mb-3">이용약관</h3>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-2 mb-lg-0">
                <h3 class="h6 text-white mb-3">개인정보처리방침</h3>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-start flex-column">
                <!-- Logo -->
                <!-- <a class="d-inline-block mb-5" href="index.html" aria-label="Space">
                  <img src="assets/svg/logos/logo-short-white.svg" alt="Logo" style="width: 40px; max-width: 100%;">
                </a> -->
                <!-- End Logo -->
                <p class="small text-muted">계란유통전문 코리아에그
                    경기도 수원시 권선구 권선동 1039-6
                    대표자 : 강병열 사업자등록번호:130-90-14617 통신판매업신고:2014-수원권선-0346 (031) 297-8243 kbre2000@gmail.com</p>
            </div>
        </div>
    </div>
</footer>

<footer  layout:fragment="footer-js" >

    <!-- JS Global Compulsory -->
    <script type="text/javascript" th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/jquery-migrate/dist/jquery-migrate.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/popper.js/dist/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/bootstrap/bootstrap.min.js}"></script>

    <!-- JS Implementing Plugins -->
    <script type="text/javascript" th:src="@{/vendor/hs-megamenu/src/hs.megamenu.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/jquery-validation/dist/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/malibu/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/custombox/dist/custombox.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/custombox/dist/custombox.legacy.min.js}"></script>

    <!-- JS Space -->
    <script type="text/javascript" th:src="@{/js/hs.core.js}"></script>
    <script type="text/javascript" th:src="@{/js/components/hs.header.js}"></script>
    <script type="text/javascript" th:src="@{/js/components/hs.unfold.js}"></script>
    <script type="text/javascript" th:src="@{/js/components/hs.validation.js}"></script>
    <script type="text/javascript" th:src="@{/js/helpers/hs.focus-state.js}"></script>
    <script type="text/javascript" th:src="@{/js/components/hs.malihu-scrollbar.js}"></script>
    <script type="text/javascript" th:src="@{/js/components/hs.modal-window.js}"></script>
    <script type="text/javascript" th:src="@{/js/components/hs.show-animation.js}"></script>
    <script type="text/javascript" th:src="@{/js/components/hs.go-to.js}"></script>

    <script>
        $(window).on('load', function () {
            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'click',
                pageContainer: $('.container'),
                breakpoint: 991,
                hideTimeOut: 0
            });
        });

        $(document).on('ready', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#header'));

            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                afterOpen: function () {
                    $(this).find('input[type="search"]').focus();
                }
            });

            // initialization of form validation
            $.HSCore.components.HSValidation.init('.js-validate', {
                rules: {
                    confirmPassword: {
                        equalTo: '#password'
                    }
                }
            });

            // initialization of forms
            $.HSCore.helpers.HSFocusState.init();

            // initialization of autonomous popups
            $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-signup-account', {
                autonomous: true
            });

            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init('.js-animation-link');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization scrollbar in header
            var $navBar = $('#navBar');

            $navBar.on('shown.bs.collapse', function () {
                $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar-header'));
            });

            $navBar.on('hide.bs.collapse', function () {
                $('.js-scrollbar-header').mCustomScrollbar("destroy");
            });
        });
    </script>

</footer>
</html>