.board-heading{
    padding: 15px 0;
    border-bottom: 2px solid #eeeeee;
}
.board-row{
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
}
.mr--6px{
    right: -6px !important;
}
.mr--8px{
    right: -8px !important;
}