<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layout/default}" >
<section layout:fragment="content">
    <!-- Hire Us Form -->
    <div class="container space-2 space-3--lg">
        <form th:formaction="@{/registBoard}" method="post" th:object="${board}"
              class="js-validate w-lg-75 px-3 px-sm-9 mx-lg-auto">
            <!-- Title -->
            <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
                <h1 class="h3">게시글 작성</h1>
            </div>
            <!-- End Title -->

            <!-- Input Form -->
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="h6 small d-block text-uppercase mb-3 mb-lg-0">유형 : </label>
                </div>
                <div class="col-md-8">
                    <select class="custom-select">
                        <option selected>자유게시판</option>
                        <option value="budget1">공지</option>
                        <option value="budget2">QNA</option>
                        <option value="budget3">자유</option>
                    </select>
                </div>
            </div>
            <!-- End Input Form -->
            <!-- Input Form -->
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="h6 small d-block text-uppercase mb-3 mb-lg-0">제목</label>
                </div>
                <div class="col-md-8">
                    <div class="js-form-message">
                        <div class="js-focus-state input-group form">
                            <input class="form-control form__input" type="text" name="fullName" required
                                   th:field="*{title}"
                                   data-msg="Please enter your frist name."
                                   data-error-class="u-has-error"
                                   data-success-class="u-has-success">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Input Form -->
            <!-- Input Form -->
            <div class="mb-5">
                <label class="h6 small d-block text-uppercase mb-3">내용:</label>
                <div class="js-focus-state input-group form">
                <textarea class="form-control form__input" rows="10" name="aboutYourProject" required
                          th:field="*{contents}"
                          placeholder="Hi there, I would like to ..."
                  aria-label="Hi there, I would like to ..."
                  data-msg="Please enter a reason."
                  data-error-class="u-has-error"
                  data-success-class="u-has-success"></textarea>
                </div>
            </div>
            <!-- End Input Form -->

            <div class="text-center">
                <button type="submit" class="btn btn-primary mb-4">등록</button>
            </div>
        </form>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</section>
</html>
