<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layout/default}" >
<section layout:fragment="content">
    <p th:text="test"></p>
    <main id="content" role="main">
        <!-- Hero Section -->
        <div class="gradient-overlay-half-dark-v3 bg-img-hero"  th:style="'background-image: url('+@{/img/test/000.jpg}+');'">
            <!-- Main Content -->
            <div class="d-lg-flex align-items-lg-center height-45vh--lg">
                <!-- 검색 Form -->
                <div class="container space-1 space-0--lg mt-lg-8">
                    <form class="js-validate w-lg-75 px-0 px-sm-9 mx-lg-auto justify-content-lg-between align-items-lg-center row">
                        <!--TODO 폼 너비 어떻게 조절? -->
                        <div class="col-lg-12">
                            <div class="bg-white shadow-sm rounded p-3">
                                <form class="js-validate">
                                    <!-- Input Form -->
                                    <!--종류-->
                                    <div class="row align-items-center">
                                        <div class="d-none d-md-block col-sm-2">
                                            <label class="h6 small d-block text-uppercase mb-3 mb-lg-0">종류</label>
                                        </div>
                                        <div class="col-12 col-sm-10">
                                            <select class="custom-select">
                                                <option selected="">전체</option>
                                                <option>왕란</option>
                                                <option>대란</option>
                                                <option>특란</option>
                                                <option>중란</option>
                                                <option>소란</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr class="my-2">
                                    <!--지역-->
                                    <div class="row align-items-center">
                                        <div class="d-none d-md-block col-sm-2">
                                            <label class="h6 small d-block mb-3 mb-lg-0">지역</label>
                                        </div>
                                        <!--<div class="d-none d-md-block col-sm-1">
                                            <a class="u-icon u-icon&#45;&#45;facebook" href="javascript:currentPosition()">
                                                <span class="fa fa-location-arrow u-icon__inner"></span>
                                            </a>
                                        </div>-->
                                        <div class="col-12 col-sm-10 input-group form">
                                            <div id="addrWrap" class="position-absolute" style="display:none; border:1px solid #d4d7dd; height:400px;margin-left:43px;">
                                                <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                                            </div>
                                            <div class="input-group-prepend">
                                                <a class="u-icon u-icon--facebook" href="javascript:currentPosition()">
                                                    <span class="fa fa-location-arrow u-icon__inner"></span>
                                                </a>
                                            </div>
                                            <input id="addr" type="text" class="form-control form__input form-control-sm"
                                                   placeholder="건물명,도로명,지번으로 검색하세요"
                                                   aria-label="Default example with button"
                                                   aria-describedby="inputGroup-sizing-default"
                                            >
                                        </div>
                                        <!--최저수량-->
                                        <!--<hr class="my-2">
                                        <div class="row align-items-center">
                                            <div class="d-none d-md-block col-sm-2">
                                                <label class="h6 small d-block text-uppercase mb-3 mb-lg-0" for="customRange3">최저수량</label>
                                            </div>
                                            <div class="col-3 col-sm-2">
                                                <input type="text" class="form-control form__input">
                                            </div>
                                            <div class="col-9 col-sm-8">
                                                <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3" />
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="text-center mt-2">
                                        <button type="button" class="btn btn-primary btn-sm px-8" onclick="serchAddress()">검색</button>
                                        <!--<button type="submit" class="btn btn-primary mb-4">Let's Start Working Together</button>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End 검색 Form -->
            </div>
        </div>
        <!-- End Hero Section -->

        <!-- News Section -->
        <div class="container space-1 space-1--lg">
            <!-- 상품 line-->
            <div class="row">
                <div class="media align-items-center pr-lg-4 col-5">
                    <img class="max-width-6 mr-1" th:src="@{/svg/business-icons/iStar_Design_Business_LineIcons_Live-85.svg}" alt="Image Description"/>
                    <div class="media-body">
                        <p class="h4 mb-0">상품</p>
                    </div>
                </div>
                <div class="col-7 col-md-2 offset-md-5">
                    <select id="" class="form-control form-inline">
                        <option selected="">가격순</option>
                        <option>이름순</option>
                    </select>
                </div>
            </div>
            <hr class="my-2">
            <!-- 상품 alert -->
            <div class="alert alert-warning" role="alert">
                지금 <a href="/login" class="alert-link">회원 로그인</a>을 하시면 더욱 저렴한 가격으로 구매 가능합니다.
            </div>

            <!--상품 리스트 -->
            <div class="card-deck d-block d-lg-flex">
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/10_0l.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란 대란 30구 5판
                                    </h2>
                                    <p class="mb-0">5판 35000 100판 34000</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">

                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/9_0l.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란 대란 30구 5판
                                    </h2>
                                    <p class="mb-0">100판 얼마 1000판 얼마 배송지역 어디</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
            </div>
            <div class="card-deck d-block d-lg-flex">
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/7_0l.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란 명품란 10구 4팩
                                    </h2>
                                    <p class="mb-0">100판 얼마 1000판 얼마 배송지역 어디</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">

                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/6_0l.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란
                                    </h2>
                                    <p class="mb-0">100판 얼마 1000판 얼마 배송지역 어디</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
            </div>
            <div class="card-deck d-block d-lg-flex">
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/img4.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란
                                    </h2>
                                    <p class="mb-0">100판 얼마 1000판 얼마 배송지역 어디</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
                <article class="card border-0 mb-2">
                    <a href="product" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-4 col-sm-3 card-img-left border border-right-0 bg-img-hero" th:attr="data-bg-img-src=@{/img/test/img4.jpg}"></div>
                            <div class="col-8 col-sm-9 border border-left-0 rounded-right">
                                <div class="p-5">
                                    <h2 class="h5 mb-3">
                                        참좋은계란
                                    </h2>
                                    <p class="mb-0">100판 얼마 1000판 얼마 배송지역 어디</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
            </div>

            <!-- 대리점 line-->
            <div class="mt-5">
                <div class="media align-items-center pr-lg-4">
                    <img class="max-width-6 mr-1" th:src="@{svg/business-icons/iStar_Design_Business_LineIcons_Live-98.svg}" alt="Image Description"/>
                    <div class="media-body">
                        <p class="h4 mb-0">대리점</p>
                    </div>
                </div>
                <hr class="my-2">
            </div>

            <!-- 대리점 리스트 -->
            <div class="card-deck d-block d-lg-flex">
                <article class="card border-0 mb-2">
                    <a href="agent" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-8 border border-right-0 ">
                                <h2 class="h6">대리점1</h2>
                                <address class="mb-0">
                                    <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                        <li class="py-1">서울 동대문구 이문동 204-397</li>
                                        <li class="py-2">취급품목:왕란 대란 소란</li>
                                        <li class="py-1">(02) 347 8854</li>
                                    </ul>
                                </address>
                            </div>
                            <div class="col-4 border border-left-0 rounded-right">
                                <div id="map" class="js-g-map h-100"></div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
                <article class="card border-0 mb-2">
                    <a href="agent" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-8 border border-right-0 ">
                                <h2 class="h6">대리점1</h2>
                                <address class="mb-0">
                                    <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                        <li class="py-1">서울 동대문구 이문동 204-397</li>
                                        <li class="py-2">취급품목:왕란 대란 소란</li>
                                        <li class="py-1">(02) 347 8854</li>
                                    </ul>
                                </address>
                            </div>
                            <div class="col-4 border border-left-0 rounded-right">
                                가게 간판? 가게전경?
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
            </div>

            <!-- 협력사 line -->
            <div class="mt-5">
                <div class="media align-items-center pr-lg-4">
                    <img class="max-width-6 mr-1" th:src="@{/svg/business-icons/iStar_Design_Business_LineIcons_Live-68.svg}" alt="Image Description"/>
                    <div class="media-body">
                        <p class="h4 mb-0">협력사</p>
                    </div>
                </div>
                <!-- End Icon Block -->
                <hr class="my-2 text-blue">
            </div>

            <div class="card-deck d-block d-lg-flex">
                <article class="card border-0 mb-2">
                    <a href="partner" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-8 border border-right-0 ">
                                <h2 class="h6">대리점1</h2>
                                <address class="mb-0">
                                    <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                        <li class="py-1">서울 동대문구 이문동 204-397</li>
                                        <li class="py-2">취급품목:왕란 대란 소란</li>
                                        <li class="py-1">(02) 347 8854</li>
                                    </ul>
                                </address>
                            </div>
                            <div class="col-4 border border-left-0 rounded-right">
                                <div id="staticMap" class="js-g-map h-100"></div>
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
                <article class="card border-0 mb-2">
                    <a href="partner" class="text-dark">
                        <div class="card-body row align-items-stretch no-gutters p-0">
                            <!-- News Blog Card -->
                            <div class="col-8 border border-right-0 ">
                                <h2 class="h6">대리점1</h2>
                                <address class="mb-0">
                                    <ul class="list-unstyled font-size-14 text-secondary mb-0">
                                        <li class="py-1">서울 동대문구 이문동 204-397</li>
                                        <li class="py-2">취급품목:왕란 대란 소란</li>
                                        <li class="py-1">(02) 347 8854</li>
                                    </ul>
                                </address>
                            </div>
                            <div class="col-4 border border-left-0 rounded-right">
                                <!--<img class="img-responsive img-thumbnail" src="assets/img/500x550/img4.jpg" alt="Image Description">-->
                            </div>
                        </div>
                    </a>
                    <!-- End News Blog Card -->
                </article>
            </div>
        </div>
    </main>

    <script th:inline="javascript" type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=af40a347c5a17c5118392cee56f35da6&libraries=services"></script>
    <script th:inline="javascript" type="text/javascript" src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var map_fx="127.05535029999999";
        var map_fy="37.5863393";
        var pos;

        function currentPosition() {
            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(function (position) {
                    pos = {
                        lat:position.coords.latitude,
                        lng:position.coords.longitude
                    };
                    tranceCoordsToAddr(pos);
                });
            }else{
                var locPosition = new daum.maps.LatLng(map_fy, map_fx),
                    message="일시적으로 내 위치를 확인 할 수 없습니다";
                alert(message);
            }
        };

        function tranceCoordsToAddr(pos){
            // 주소로 좌표를 검색합니다
            var geocoder = new daum.maps.services.Geocoder();

            var callback = function(result, status) {
                if (status === daum.maps.services.Status.OK) {
                    //console.log('그런 너를 마주칠까 ' + result[0].address.address_name + '을 못가');
                    var detailAddr = !!result[0].road_address ? result[0].road_address.address_name  : '';
                    detailAddr += result[0].address.address_name ;
                    //var content = detailAddr;
                    var content = result[0].address.address_name;
                    document.getElementById("addr").value = content;
                }
            };
            geocoder.coord2Address(pos.lng, pos.lat, callback);
        };

        var lineLine = new daum.maps.Polyline();

        function serchAddress(addr) {

            if(addr == null){
                addr = document.getElementById("addr").value;
            }
            // 주소로 좌표를 검색합니다
            var geocoder = new daum.maps.services.Geocoder();
            geocoder.addressSearch(addr, function(result, status) {
                // 정상적으로 검색이 완료됐으면
                if (status === daum.maps.services.Status.OK) {
                    var start = new daum.maps.LatLng(result[0].y, result[0].x);
                    var end = new daum.maps.LatLng(37.5863393, 127.05535029999999);
                    alert(start + "거리 : " +distanceTo(start,end));
                }
            });
        }

        function distanceTo(p1,p2){

            lineLine.setPath([ p1, p2 ]); // //라인을 그리려면 두 점이 있어야하니깐 두 점을 지정했습니다 선을 그릴 라인을 세팅합니다
            var distance = Math.round(lineLine.getLength())/1000;
            return distance;
        }


        // 우편번호 찾기 찾기 화면을 넣을 element
        //var element_wrap = document.getElementById('wrap');
        var element_wrap = document.getElementById('addrWrap');

        function foldDaumPostcode() {
            // iframe을 넣은 element를 안보이게 한다.
            element_wrap.style.display = 'none';
            $("#addr").css("zIndex","");
        }

        function sample3_execDaumPostcode() {
            // 현재 scroll 위치를 저장해놓는다.
            var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            var width = document.getElementById('addr').clientWidth;
            new daum.Postcode({
                oncomplete: function(data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("addr").value = addr;

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_wrap.style.display = 'none';

                    // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                    document.body.scrollTop = currentScroll;
                    $("#addr").css("zIndex","");
                },
                hideMapBtn : true,
                hideEngBtn : true,
                zonecodeOnly : true,
                width : width,
                height : '100%'
            }).embed(element_wrap);

            // iframe을 넣은 element를 보이게 한다.
            element_wrap.style.display = 'block';
        }

        $(document).on('ready', function () {

            $("#addr").focus(function (obj) {
                $("#addr").css("zIndex","-1");
                sample3_execDaumPostcode();
                //$( "#target" ).focus();
                obj.target.blur();
            });

        });




        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new daum.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        var map = new daum.maps.Map(container, options); //지도 생성 및 객체 리턴\

        // 마커가 표시될 위치입니다
        var markerPosition  = new daum.maps.LatLng(33.450701, 126.570667);

        // 마커를 생성합니다
        var marker = new daum.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 이미지 지도에서 마커가 표시될 위치입니다
        var markerPosition  = new daum.maps.LatLng(33.450701, 126.570667);

        // 이미지 지도에 표시할 마커입니다
        // 이미지 지도에 표시할 마커는 Object 형태입니다
        var marker = {
            position: markerPosition
        };

        var staticMapContainer  = document.getElementById('staticMap'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new daum.maps.LatLng(33.450701, 126.570667), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: marker // 이미지 지도에 표시할 마커
            };

        // 이미지 지도를 생성합니다
        var staticMap = new daum.maps.StaticMap(staticMapContainer, staticMapOption);

        console.log('scdasd');
        /*]]>*/
    </script>
</section>
</html>