<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layout/noFooter}" >
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}" />
</head>
        <!-- ========== MAIN CONTENT ========== -->
        <form class="js-validate form-signin p-5" layout:fragment="content"
              th:formaction="@{/login}" method="post">
            <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <!-- Logo -->
            <!--<div class="text-center">
                <a href="../home/index.html" aria-label="Space">
                    <img class="mb-3" th:src="@{/svg/logos/logo-short.svg}" alt="Logo" width="60" height="60">
                </a>
            </div>-->
            <!-- End Logo -->

            <!-- Title -->
            <div class="text-center mb-4">
                <h1 class="h3 mb-0">Korea Egg</h1>
            </div>
            <!-- End Title -->

            <!-- Input -->
            <div class="js-form-message mb-3">
                <div class="js-focus-state input-group form">
                    <div class="input-group-prepend form__prepend">
          <span class="input-group-text form__text">
            <span class="fa fa-user form__text-inner"></span>
          </span>
                    </div>
                    <input type="text" class="form-control form__input"  name="username" required
                           placeholder="아이디"
                           aria-label="ID"
                           data-msg="Please enter a valid ID."
                           data-error-class="u-has-error"
                           data-success-class="u-has-success">
                </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="js-form-message mb-3">
                <div class="js-focus-state input-group form">
                    <div class="input-group-prepend form__prepend">
          <span class="input-group-text form__text">
            <span class="fa fa-lock form__text-inner"></span>
          </span>
                    </div>
                    <input type="password" class="form-control form__input" name="password" required
                           placeholder="비밀번호"
                           aria-label="Password"
                           data-msg="Your password is invalid. Please try again."
                           data-error-class="u-has-error"
                           data-success-class="u-has-success">
                </div>
            </div>
            <!-- End Input -->
            <div class="form-group" th:if="${param.error}">
                <div class="alert alert-danger" role="alert">
                    사용자 ID 혹은 비밀번호가 일치하지 않습니다.
                </div>
            </div>

            <!-- TODO 아이디저장 비밀번호찾기-->
            <div class="row mb-3">
                <div class="col-12">
                    <!-- Checkbox -->
                    <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                        <input type="checkbox" class="custom-control-input" id="rememberMeCheckbox">
                        <label class="custom-control-label" for="rememberMeCheckbox">
                            아이디 저장
                        </label>
                    </div>
                    <!-- End Checkbox -->
                </div>
            </div>
            <div class="mb-5">
                <button type="submit" class="btn btn-block btn-primary">로그인</button>
            </div>
            <div class="mb-5 text-center">
                <a class="" href="recover-account.html">비밀번호가 생각나지 않으세요?</a>
            </div>
            <div class="text-center mb-3">
                <a class="btn btn-block btn-outline-primary" href="/registUser" role="button">회원가입</a>
            </div>

            <!-- Divider -->
            <!--<div class="text-center u-divider-wrapper my-3">
                <span class="u-divider u-divider&#45;&#45;xs u-divider&#45;&#45;text">OR</span>
            </div>-->
            <!-- End Divider -->

            <!-- Signin Social Buttons -->
            <!--<div class="row mx-gutters-2 mb-4">
                <div class="col-sm-6 mb-2 mb-sm-0">
                    <button type="button" class="btn btn-block btn-sm btn-facebook">
                        <span class="fab fa-facebook-f mr-2"></span>
                        Signin with Facebook
                    </button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-block btn-sm btn-twitter">
                        <span class="fab fa-twitter mr-2"></span>
                        Signin with Twitter
                    </button>
                </div>
            </div>-->
            <!-- End Signin Social Buttons -->

            <p class="small text-center text-muted mb-0">All rights reserved. &copy; KoreaEgg. 2018.</p>
        </form>
        <!-- ========== END MAIN CONTENT ========== -->
</html>
