<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layout/default}" >
<head>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
    <section layout:fragment="content">
        <!-- Hire Us Form -->
        <div class="container space-2 space-3--lg">
            <form th:formaction="@{/registPriceInfo}" method="post"
                  class="js-validate w-lg-75 px-3 px-sm-9 mx-lg-auto form-signin">
                <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <!-- Title -->
                <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5">
                    <span class="u-label u-label--sm u-label--purple mb-3">등록</span>
                    <h1 class="h3">임시 난가등록 </h1>
                    <p></p>
                </div>
                <!-- End Title -->
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label class="h6 small d-block text-uppercase">지역</label>
                        <select class="form-control" name="areaId">
                            <option value="1">서울</option>
                            <option value="2">대전</option>
                            <option value="3">영주</option>
                            <option value="4">부산</option>
                            <option value="5">대구</option>
                            <option value="6">광주</option>
                            <option value="7">전주</option>
                            <option value="8">충북</option>
                        </select>
                    </div>
                    <div class="form-group col-md-10 form m-0 js-form-message">
                        <label class="h6 small d-block text-uppercase">메모<span class="text-danger">*</span></label>
                        <div class="js-focus-state input-group form">
                            <input type="text" class="form-control form__input" name="memo"
                                   placeholder="메모"/>
                        </div>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-md-2 col-4 form m-0 js-form-message">
                        <label class="h6 small d-block text-uppercase">왕<span class="text-danger">*</span></label>
                        <div class="js-focus-state input-group form">
                            <input type="text" class="form-control form__input" name="size1"
                                   placeholder="왕"/>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-4  form m-0 js-form-message">
                        <label class="h6 small d-block text-uppercase">특<span class="text-danger">*</span></label>
                        <div class="js-focus-state input-group form">
                            <input type="text" class="form-control form__input" name="size2"
                                   placeholder="특"/>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-4  form m-0 js-form-message">
                        <label class="h6 small d-block text-uppercase">대<span class="text-danger">*</span></label>
                        <div class="js-focus-state input-group form">
                            <input type="text" class="form-control form__input"name="size3"
                                   placeholder="대"/>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-4  form m-0 js-form-message">
                        <label class="h6 small d-block text-uppercase">중<span class="text-danger">*</span></label>
                        <div class="js-focus-state input-group form">
                            <input type="text" class="form-control form__input"name="size4"
                                   placeholder="중"/>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-4  form m-0 js-form-message">
                        <label class="h6 small d-block text-uppercase">소<span class="text-danger">*</span></label>
                        <div class="js-focus-state input-group form">
                            <input type="text" class="form-control form__input"name="size5"
                                   placeholder="소"/>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-4  form m-0 js-form-message">
                        <label class="h6 small d-block text-uppercase">경<span class="text-danger">*</span></label>
                        <div class="js-focus-state input-group form">
                            <input type="text" class="form-control form__input"name="size6"
                                   placeholder="경"/>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="등록"/>
            </form>
        </div>
        <!-- Successful Notification Section -->
        <div th:if="${param.success}" class="d-md-flex align-items-md-center height-85vh--md" >
            <div class="container text-center space-2 space-3--lg">
                <div class="w-md-80 w-lg-60 text-center mx-md-auto">
                    <div class="mb-5">
            <span class="u-icon u-icon--success u-icon--lg rounded-circle mb-4">
              <span class="fa fa-check u-icon__inner"></span>
            </span>
                        <h1 class="h2 mb-0">Congratulations.</h1>
                        <h2 class="h2">Your order is accepted.</h2>
                        <p>Thank you for your order! Your order is being processed and will be completed within 3-6 hours. You will receive an email confirmation when your order is completed.</p>
                        <p>회원가입되었습니다.<a href="/login">로그인하기</a></p>
                    </div>
                    <a class="btn btn-primary" href="/">홈페이지로</a>
                </div>
            </div>
        </div>
        <!-- End Successful Notification Section -->

        <script th:inline="javascript" type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=af40a347c5a17c5118392cee56f35da6&libraries=services"></script>
        <script th:inline="javascript" type="text/javascript" src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).on('ready', function () {
                // initialization of form validation
                $.HSCore.components.HSValidation.init('.js-validate');

                $("#addr").focus(function (obj) {
                    $("#addr").css("zIndex","-1");
                    sample3_execDaumPostcode();
                    //$( "#target" ).focus();
                    obj.target.blur();
                });

                $("#addr").keyup(function() {
                    //Assigning search box value to javascript variable named as "name".
                    var name = $('#search').val();
                });
            });

            // 우편번호 찾기 찾기 화면을 넣을 element
            var element_wrap = document.getElementById('addrWrap');

            function foldDaumPostcode() {
                // iframe을 넣은 element를 안보이게 한다.
                element_wrap.style.display = 'none';
                $("#addr").css("zIndex","");
            }

            function sample3_execDaumPostcode() {
                // 현재 scroll 위치를 저장해놓는다.
                var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
                var width = document.getElementById('addr').clientWidth;
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 주소로 좌표를 검색합니다
                        var geocoder = new daum.maps.services.Geocoder();
                        geocoder.addressSearch(addr, function(result, status) {
                            // 정상적으로 검색이 완료됐으면
                            if (status === daum.maps.services.Status.OK) {
                                document.getElementById("logitude").value = result[0].y;
                                document.getElementById("latitude").value = result[0].x;
                            }
                        });

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('postNum').value = data.zonecode;
                        document.getElementById("addr").value = addr;

                        // iframe을 넣은 element를 안보이게 한다.
                        // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                        element_wrap.style.display = 'none';

                        // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                        document.body.scrollTop = currentScroll;
                        $("#addr").css("zIndex","");

                    },
                    hideMapBtn : true,
                    hideEngBtn : true,
                    zonecodeOnly : true,
                    width : width,
                    height : '100%'
                }).embed(element_wrap);

                // iframe을 넣은 element를 보이게 한다.
                element_wrap.style.display = 'block';
            }


            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            $('#userId').on('blur', function(){
                var userId = $('#userId').val();
                if (userId == '') {
                    return;
                }
                $.ajax({
                    url: '/existId',
                    type: 'post',
                    data: {
                        'id' : userId
                    },
                    success: function(response){
                        if (response == true) {
                            $("#userId").removeClass("is-invalid");
                            $("#userIdFeedback").hide();
                        }else if (response == false) {
                            $("#userId").addClass("is-invalid");
                            $("#userIdFeedback").show();
                        }
                    }
                });
            });

            /*]]>*/
        </script>
    </section>
</html>
